@charset "UTF-8";
:root {
  --content-width: 86.25rem;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --font-babas: "BebasNeue", sans-serif;
  --font-pt: "PTSansCaption", sans-serif;
  --light-color: #fff;
  --silver-color: #b4b4b4;
  --color-red: #cd313c;
  --color-black: #202020;
  --color-blue: #0073b4;
  --color-green: #3ca037;
}

/* stylelint-disable */
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeueRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
@font-face {
  font-family: "PTSansCaption";
  src: url("../fonts/PTSansCaption-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PTSansCaption";
  src: url("../fonts/PTSansCaption-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html * {
  scroll-margin: 5.1875rem;
}

body {
  font-family: var(--font-babas);
  line-height: 1;
}
body.dis-scroll {
  overflow: hidden;
}

.main {
  background-color: rgb(242, 242, 242);
  padding-bottom: 7.5rem;
}
@media (max-width: 480px) {
  .main {
    padding-bottom: 5rem;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

input {
  border: none;
}

main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.text_red {
  color: var(--color-red);
}

.subtitle {
  font-size: 6rem;
  font-weight: 700;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 3rem;
  }
}

.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--light-color);
  font-family: var(--font-babas);
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.button_red {
  background-color: var(--color-red);
}
.button_red:hover {
  background-color: #c02c36;
}
.button_red:active {
  background-color: #ac1b25;
}
.button_border {
  border: 0.125rem solid var(--color-red);
  color: var(--color-red);
}
.button_border:hover {
  background-color: rgba(205, 49, 60, 0.05);
}

.accordion {
  margin-top: 3.5rem;
}
@media (max-width: 480px) {
  .accordion {
    margin-top: 2rem;
  }
}

.accordion-item {
  padding: 1.5rem 0;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
}
@media (max-width: 480px) {
  .accordion-item {
    padding: 1rem 0;
  }
}

.accordion-header {
  text-align: left;
  width: 100%;
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .accordion-header {
    font-size: 1.5rem;
    gap: 1rem;
  }
}
.accordion-header_active {
  color: var(--color-red);
}
.accordion-header_active .accordion-header__arrow-icon {
  -webkit-transform: rotate(90deg) scale(1.4);
  -ms-transform: rotate(90deg) scale(1.4);
  transform: rotate(90deg) scale(1.4);
}

.accordion-header__arrow {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  min-width: 2rem;
}
@media (max-width: 480px) {
  .accordion-header__arrow {
    width: 1rem;
    height: 1rem;
  }
}
.accordion-header__arrow img {
  display: block;
}

.accordion-header__arrow-icon {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in-out;
  transition: max-height 0.3s ease-in-out;
}
.accordion-content > *:first-child {
  padding-top: 1.5rem;
}
@media (max-width: 480px) {
  .accordion-content > *:first-child {
    padding-top: 1rem;
  }
}

.accordion-text {
  font-size: 1.125rem;
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .accordion-text {
    font-size: 1rem;
  }
}
.accordion-text + .accordion-text {
  margin-top: 0.75rem;
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease;
  background-color: var(--light-color);
}
.header_slide {
  -webkit-transform: translateY(-6.875rem);
  -ms-transform: translateY(-6.875rem);
  transform: translateY(-6.875rem);
}
@media (max-width: 768px) {
  .header_desktop {
    display: none;
  }
}
.header_mobile {
  display: none;
}
@media (max-width: 768px) {
  .header_mobile {
    display: block;
  }
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 1rem;
}
@media (max-width: 1024px) {
  .header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.header__phone-label {
  font-family: var(--font-pt);
  color: var(--silver-color);
}

.header__phone-link {
  font-weight: 700;
  display: block;
  margin-top: 0.375rem;
  font-size: 2rem;
  color: var(--color-red);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1280px) {
  .header__phone-link {
    font-size: 1.5rem;
  }
}
.header__phone-link:hover {
  color: black;
}

.header__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}
@media (max-width: 1024px) {
  .header__pictures {
    gap: 0.5rem;
  }
}

.header__profile {
  display: block;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
}

.header__profile-icon {
  color: white;
  fill: white;
  stroke: white;
}

.header__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
}

.header__social {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.header__social:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.header__bottom {
  padding: 1.5rem 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 0.5rem;
}

.header__menu-link {
  display: block;
  font-weight: 700;
  font-family: var(--font-babas);
  font-size: 2rem;
  position: relative;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .header__menu-link {
    font-size: 1.5rem;
  }
}
.header__menu-link::before {
  content: "";
  position: absolute;
  bottom: -25px;
  width: 100%;
  height: 1rem;
  background-color: var(--color-red);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  border-radius: 0.25rem 0.25rem 0 0;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  opacity: 0;
}
.header__menu-link:hover {
  color: var(--color-red);
}
.header__menu-link:hover::before {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.header__menu-link_active {
  color: var(--color-red);
}
.header__menu-link_active::before {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.header-mobile {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.75rem 1rem;
  background-color: var(--light-color);
  border-bottom: 1px solid #d9d9d9;
}

.header-mobile__burger {
  position: relative;
  width: 2rem;
  height: 2rem;
}
.header-mobile__burger span {
  position: absolute;
  background-color: var(--color-black);
  width: 70%;
  height: 0.1875rem;
  border-radius: 2.5rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: top 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.header-mobile__burger span:first-child {
  top: 25%;
}
.header-mobile__burger span:last-child {
  top: 75%;
}
.header-mobile__burger_active span:first-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header-mobile__burger_active span:nth-child(2) {
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
.header-mobile__burger_active span:last-child {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

.header-mobile__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.75rem;
}

.header-mobile__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.4375rem;
}

.header-mobile__menu {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 3.875rem;
  position: fixed;
  inset: 0;
  z-index: 5;
  background-color: var(--light-color);
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header-mobile__menu_active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.header-mobile__menu-list {
  padding: 1.5rem 1rem;
}

.header-mobile__menu-item + .header-mobile__menu-item {
  margin-top: 1.5rem;
}

.header-mobile__menu-link {
  font-size: 3rem;
  font-weight: 700;
}

.header-mobile__footer {
  padding: 1.5rem 1rem;
}

.header-mobile__footer-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
  padding: 16px 0;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
}

.header-mobile__footer-title {
  font-family: var(--font-pt);
  color: var(--silver-color);
}

.header-mobile__footer-link {
  display: block;
  font-size: 1.5rem;
  color: var(--color-red);
  font-weight: 700;
  margin-top: 0.5rem;
}

.header-mobile__footer-under {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-mobile__footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
}

.header-mobile__footer-social {
  padding: 0.25rem;
}
.header-mobile__footer-social img {
  display: block;
}

.header-mobile__footer-switch-icon {
  display: block;
}

.footer {
  position: relative;
  background-color: #d6d9de;
}

.footer__top {
  padding-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
@media (max-width: 1280px) {
  .footer__top {
    gap: 1rem;
  }
}
@media (max-width: 1023px) {
  .footer__top {
    display: block;
  }
}
@media (max-width: 480px) {
  .footer__top {
    padding-top: 2.5rem;
  }
}

.footer__organization {
  font-size: 1.25rem;
  font-weight: 700;
  font-family: var(--font-pt);
  max-width: 23.4375rem;
}
@media (max-width: 1280px) {
  .footer__organization {
    max-width: 17.5rem;
  }
}

.footer__info {
  text-align: right;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
}
@media (max-width: 1280px) {
  .footer__info {
    gap: 1rem;
  }
}
@media (max-width: 1023px) {
  .footer__info {
    text-align: left;
    display: block;
    margin-top: 1.5rem;
  }
}

@media (max-width: 1023px) {
  .footer__phone {
    margin-top: 1rem;
  }
}

.footer__descr {
  font-family: var(--font-pt);
}

.footer__address {
  text-align: right;
}
@media (max-width: 1023px) {
  .footer__address {
    text-align: left;
    margin-top: 1rem;
  }
}

.footer__link,
.footer__address-link {
  display: block;
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 0.625rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__link:hover,
.footer__address-link:hover {
  color: var(--color-red);
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  border-top: 1px solid rgb(180, 180, 180);
  padding: 1.875rem 0;
}
@media (max-width: 1023px) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: 1rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 1rem;
  }
}

.footer__copy {
  font-family: var(--font-pt);
}

.footer__socials_mobile {
  display: none;
}
@media (max-width: 1023px) {
  .footer__socials_mobile {
    display: block;
    margin-top: 1rem;
  }
}
@media (max-width: 1023px) {
  .footer__socials_desctop {
    display: none;
  }
}

.footer__socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
}

.footer__socials-link {
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.footer__socials-link:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.footer__socials-link img {
  display: block;
}

.footer__policy-link {
  font-family: var(--font-pt);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer__policy-link:hover {
  color: var(--color-red);
}

.footer__back-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 7%;
  top: 1.5rem;
  position: absolute;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  background-color: var(--light-color);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
@media (max-width: 1800px) {
  .footer__back-to-top {
    left: 1rem;
  }
}
@media (max-width: 1600px) {
  .footer__back-to-top {
    width: 2.5rem;
    height: 2.5rem;
    top: -3rem;
  }
}
@media (max-width: 1023px) {
  .footer__back-to-top {
    display: none;
  }
}
.footer__back-to-top:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.hero {
  position: relative;
  min-height: 85dvh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 480px) {
  .hero {
    min-height: 85dvh;
  }
}
.hero::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 10rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(180deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  pointer-events: none;
}

.hero__container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.hero__content {
  position: relative;
  z-index: 1;
  max-width: 41.25rem;
  color: var(--color-black);
}

.hero__title {
  font-size: 8rem;
  font-weight: 700;
}
@media (max-width: 1024px) {
  .hero__title {
    font-size: 6rem;
  }
}
@media (max-width: 480px) {
  .hero__title {
    font-size: 4rem;
  }
}

.hero__subtitle {
  font-size: 1.5rem;
  font-family: var(--font-pt);
  margin-top: 1.5rem;
}
@media (max-width: 480px) {
  .hero__subtitle {
    font-size: 1.125rem;
  }
}

.hero__button {
  margin-top: 2.5rem;
  padding: 1rem 2rem;
}

.hero__picture {
  position: absolute;
  inset: 0;
}
.hero__picture img {
  height: 100%;
  width: 100%;
}
@media (max-width: 480px) {
  .hero__picture img {
    -o-object-position: 35% center;
    object-position: 35% center;
  }
}

.loop-items {
  padding: 0.125rem 0;
  overflow: hidden;
  position: relative;
}
@media (max-width: 480px) {
  .loop-items {
    padding: 0;
  }
}
.loop-items::before, .loop-items::after {
  content: "";
  position: absolute;
  top: 0;
  width: 17.5rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(90deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 480px) {
  .loop-items::before, .loop-items::after {
    content: none;
  }
}
.loop-items::before {
  left: 0;
}
.loop-items::after {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.loop-items__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}
@media (max-width: 480px) {
  .loop-items__list {
    gap: 0.25rem;
  }
}

.loop-items__item {
  width: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 1rem;
  background-color: rgba(41, 41, 41, 0.1);
}

.loop-items__link {
  width: 7rem;
  height: 7rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .loop-items__link {
    width: 5rem;
    height: 5rem;
  }
}
@media (max-width: 480px) {
  .loop-items__link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .loop-items__link img {
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
  }
}
.loop-items__link:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

@-webkit-keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes loop {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
.main-about {
  margin-top: 10rem;
}
@media (max-width: 480px) {
  .main-about {
    margin-top: 5rem;
  }
}

.main-about__subtitle {
  color: var(--silver-color);
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .main-about__subtitle {
    font-size: 1.25rem;
  }
}

.main-about__title {
  margin-top: 2.5rem;
}
@media (max-width: 480px) {
  .main-about__title {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

.main-about__text {
  margin-top: 1rem;
  font-size: 1.125rem;
  font-family: var(--font-pt);
}

.main-about__button {
  margin-top: 2.5rem;
}
@media (max-width: 480px) {
  .main-about__button {
    width: 100%;
    text-align: center;
  }
}

.main-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 2.5rem;
}
@media (max-width: 480px) {
  .main-about__items {
    gap: 0.5rem;
    margin-top: 3.5rem;
  }
}

.main-about__item {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0 0.875rem;
}
.main-about__item::before {
  content: "";
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(175, 30, 40, 0.1)), to(rgba(242, 242, 242, 0.1)));
  background: linear-gradient(180deg, rgba(175, 30, 40, 0.1) 0%, rgba(242, 242, 242, 0.1) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 1.5rem 0 0;
  -webkit-animation: flash 3s ease-in-out infinite;
  animation: flash 3s ease-in-out infinite;
}
.main-about__item:first-child {
  min-height: 12rem;
}
@media (max-width: 480px) {
  .main-about__item:first-child {
    min-height: 7rem;
  }
}
.main-about__item:nth-child(2) {
  min-height: 252px;
}
@media (max-width: 480px) {
  .main-about__item:nth-child(2) {
    min-height: 8.625rem;
  }
}
.main-about__item:last-child {
  min-height: 19.5625rem;
}
@media (max-width: 480px) {
  .main-about__item:last-child {
    min-height: 10.1875rem;
  }
}
.main-about__item:hover .main-about__image {
  -webkit-transform: translateY(-1.25rem) scale(1.1);
  -ms-transform: translateY(-1.25rem) scale(1.1);
  transform: translateY(-1.25rem) scale(1.1);
}

.main-about__image {
  position: relative;
  margin-top: -3.125rem;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 480px) {
  .main-about__image {
    margin-top: -2rem;
  }
}

.main-gallery {
  position: relative;
  margin-top: 7.5rem;
  overflow: hidden;
}

.main-gallery__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}
@media (max-width: 480px) {
  .main-gallery__head {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .main-gallery__button_desctop {
    display: none;
  }
}
.main-gallery__button_mobile {
  display: none;
}
@media (max-width: 480px) {
  .main-gallery__button_mobile {
    display: block;
    padding: 0 1rem;
    margin-top: 1rem;
  }
  .main-gallery__button_mobile .main-gallery__link {
    width: 100%;
    text-align: center;
  }
}

.main-gallery__items {
  position: relative;
}
.main-gallery__items .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.main-gallery__items + .main-gallery__items {
  margin-top: 1rem;
}
.main-gallery__items::before, .main-gallery__items::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 17.5rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(90deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  pointer-events: none;
}
@media (max-width: 480px) {
  .main-gallery__items::before, .main-gallery__items::after {
    content: none;
  }
}
.main-gallery__items::after {
  left: auto;
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.main-gallery__item {
  width: auto;
  height: auto;
}

.main-gallery__image {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 26.6875rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
@media (max-width: 480px) {
  .main-gallery__image {
    max-width: 15.9375rem;
    max-height: 10.9375rem;
  }
}
.main-gallery__image > img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.main-gallery__image-info {
  position: absolute;
  inset: 0;
  background-color: rgba(205, 49, 60, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1rem;
  color: var(--light-color);
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  padding: 1rem;
  text-align: center;
}
@media (max-width: 480px) {
  .main-gallery__image-info {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: rgba(32, 32, 32, 0.5);
  }
}
.main-gallery__image:hover .main-gallery__image-info {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.main-gallery__image-date {
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .main-gallery__image-date {
    font-size: 0.875rem;
  }
}

.main-gallery__image-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: auto;
}
@media (max-width: 480px) {
  .main-gallery__image-title {
    font-size: 1.5rem;
  }
}

.standards {
  margin-top: 10rem;
}
@media (max-width: 480px) {
  .standards {
    margin-top: 5rem;
  }
}

.standards__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .standards__link {
    display: none;
  }
}

.standards__text {
  margin-top: 3.5rem;
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .standards__text {
    margin-top: 2rem;
  }
}

.standards__items {
  margin-top: 3.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
@media (max-width: 1280px) {
  .standards__items {
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .standards__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 480px) {
  .standards__items {
    margin-top: 1.5rem;
  }
}

.standards__item {
  min-height: 25.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--light-color);
}
@media (max-width: 480px) {
  .standards__item {
    min-height: 8rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.standards__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.15;
  pointer-events: none;
}
.standards__item_red {
  position: relative;
  background-color: var(--color-red);
}
.standards__item_blue {
  position: relative;
  background-color: var(--color-blue);
}
.standards__item_green {
  position: relative;
  background-color: var(--color-green);
}

.standards__item-title {
  font-size: 2.25rem;
  font-weight: 700;
}
@media (max-width: 480px) {
  .standards__item-title {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.standards__image {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@media (max-width: 480px) {
  .standards__image {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
@media (max-width: 480px) {
  .standards__image img {
    width: 5rem;
  }
}

.standards__icon {
  stroke: var(--light-color);
  display: none;
}
@media (max-width: 480px) {
  .standards__icon {
    margin-top: auto;
    display: block;
  }
}

.main-info {
  margin-top: 10rem;
}
@media (max-width: 480px) {
  .main-info {
    margin-top: 5rem;
  }
}

.main-info__card {
  padding: 2.5rem;
  background-color: var(--light-color);
  border-radius: 1.5rem;
}
@media (max-width: 768px) {
  .main-info__card {
    padding: 1.5rem;
  }
}

.main-info__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 1rem;
}

.main-info__info {
  max-width: 55.6875rem;
}

.main-info__title {
  font-size: 2.25rem;
  font-weight: 700;
}
@media (max-width: 480px) {
  .main-info__title {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}

.main-info__text {
  font-size: 1.125rem;
  font-family: var(--font-pt);
  line-height: 1.4;
  margin-top: 1rem;
}
@media (max-width: 480px) {
  .main-info__text {
    font-size: 16px;
    line-height: 1.2;
  }
}

.main-info__download {
  margin-top: 2.5rem;
}
@media (max-width: 480px) {
  .main-info__download {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}

.main-info__order {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  .main-info__order_desktop {
    display: none;
  }
}
.main-info__order_mobile {
  display: none;
}
@media (max-width: 768px) {
  .main-info__order_mobile {
    text-align: center;
    display: block;
    margin: 1rem 0;
  }
}

.main-info__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
  margin-top: 5rem;
  padding-top: 3.5rem;
  border-top: 1px solid rgba(180, 180, 180, 0.4);
}
@media (max-width: 768px) {
  .main-info__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 480px) {
  .main-info__body {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    gap: 1.5rem;
  }
}

.main-info__photo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.main-info__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1rem;
}
@media (max-width: 480px) {
  .main-info__photo img {
    border-radius: 0.5rem;
  }
}

.main-info__content {
  position: relative;
}
.main-info__content::before {
  position: absolute;
  top: -2.25rem;
  left: -2rem;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  content: "«";
  line-height: 1;
  font-size: 10rem;
  color: rgb(214, 236, 245);
}
@media (max-width: 768px) {
  .main-info__content::before {
    font-size: 6rem;
    content: none;
  }
}
.main-info__content::after {
  position: absolute;
  bottom: -2.25rem;
  right: -2rem;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  content: "»";
  line-height: 1;
  font-size: 10rem;
  color: rgb(214, 236, 245);
}
@media (max-width: 768px) {
  .main-info__content::after {
    font-size: 6rem;
    bottom: 1.25rem;
  }
}

.main-info__descr {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .main-info__descr {
    font-size: 1rem;
  }
}
.main-info__descr + .main-info__descr {
  margin-top: 0.625rem;
}

.main-info__initials {
  margin-top: 4rem;
}
@media (max-width: 480px) {
  .main-info__initials {
    margin-top: 1.5rem;
  }
}

.main-info__name {
  font-size: 3.5rem;
  line-height: 1.2;
}
@media (max-width: 480px) {
  .main-info__name {
    font-size: 2rem;
    line-height: 1;
  }
}

.main-info__position {
  margin-top: 1rem;
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .main-info__position {
    margin-top: 0.75rem;
  }
}

.main-map {
  margin-top: 10rem;
}
@media (max-width: 480px) {
  .main-map {
    margin-top: 5rem;
  }
}

.main-map__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .main-map__head {
    display: block;
  }
}

@media (max-width: 480px) {
  .main-map__button {
    margin-top: 1.5rem;
  }
}

.main-map__link {
  width: 100%;
  text-align: center;
}

.main-map__body {
  margin-top: 2.5rem;
}
@media (max-width: 480px) {
  .main-map__body_desctop {
    display: none;
  }
}
.main-map__body_mobile {
  display: none;
}
@media (max-width: 480px) {
  .main-map__body_mobile {
    display: block;
  }
}

.main-faq {
  margin-top: 7.5rem;
}
@media (max-width: 480px) {
  .main-faq {
    margin-top: 5rem;
  }
}

.main-faq__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .main-faq__button_desctop {
    display: none;
  }
}
.main-faq__button_mobile {
  display: none;
}
@media (max-width: 768px) {
  .main-faq__button_mobile {
    display: block;
    margin-top: 1rem;
  }
  .main-faq__button_mobile .main-faq__link {
    width: 100%;
    text-align: center;
  }
}

.main-partners {
  position: relative;
  overflow: hidden;
  margin-top: 11.25rem;
}
@media (max-width: 480px) {
  .main-partners {
    margin-top: 5rem;
  }
}

.main-partners__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-partners__items {
  margin-top: 3.5rem;
}
.main-partners__items::before, .main-partners__items::after {
  content: "";
  position: absolute;
  top: 0;
  width: 17.5rem;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(rgba(242, 242, 242, 0)));
  background: linear-gradient(90deg, #f2f2f2 0%, rgba(242, 242, 242, 0) 100%);
  z-index: 2;
  pointer-events: none;
}
@media (max-width: 480px) {
  .main-partners__items::before, .main-partners__items::after {
    content: none;
  }
}
.main-partners__items::before {
  left: 0;
}
.main-partners__items::after {
  right: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.main-partners__items + .main-partners__items {
  margin-top: 1rem;
}
.main-partners__items .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.main-partners__item {
  width: auto;
  height: auto;
  min-width: 15.625rem;
}

.main-partners__card {
  background-color: var(--light-color);
  border-radius: 1rem;
  padding: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.media {
  padding: 1rem 0 2.5rem;
}
@media screen and (width <= 768px) {
  .media {
    padding-bottom: 0;
  }
}
.media__breadcrumbs {
  margin-bottom: 5rem;
}
@media screen and (width <= 768px) {
  .media__breadcrumbs {
    margin-bottom: 2.5rem;
  }
}
.media__subtitle {
  margin-bottom: 4rem;
}
@media screen and (width <= 768px) {
  .media__subtitle {
    margin-bottom: 1.5rem;
  }
}
.media__filter {
  padding-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
}
@media screen and (width <= 768px) {
  .media__filter {
    border-top: transparent;
    margin-bottom: 1.5rem;
    padding-top: 0;
    row-gap: 1.5rem;
  }
}
.media__tabs-head {
  margin-bottom: 1.5rem;
}
.media__list {
  margin-bottom: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}
@media screen and (width <= 1230px) {
  .media__list {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width <= 768px) {
  .media__list {
    margin-bottom: 1.5rem;
  }
}
@media screen and (width <= 576px) {
  .media__list {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.media__list-video {
  margin-bottom: 2.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 0.5rem;
}
@media screen and (width <= 1230px) {
  .media__list-video {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width <= 768px) {
  .media__list-video {
    margin-bottom: 1.5rem;
  }
}
@media screen and (width <= 576px) {
  .media__list-video {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}
.media__more-btn {
  width: 100%;
  margin-bottom: 1rem;
}
@media screen and (width <= 768px) {
  .media__more-btn {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
  }
}

.news {
  margin-top: 7.5rem;
}
@media (max-width: 480px) {
  .news {
    margin-top: 2.5rem;
  }
}
@media (max-width: 768px) {
  .news_desctop {
    display: none;
  }
}
.news_mobile {
  display: none;
}
@media (max-width: 768px) {
  .news_mobile {
    display: block;
  }
}

.news__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.news__head_border {
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
  margin-bottom: 1rem;
}

.news__list {
  margin-top: 3.5rem;
}

.news__item {
  padding: 1.5rem 0 2.5rem 0;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
}

.news__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
}
@media (max-width: 1280px) {
  .news__article {
    gap: 1rem;
  }
}

.news__article-info {
  max-width: 13.4375rem;
  width: 100%;
  font-family: var(--font-pt);
}
@media (max-width: 1280px) {
  .news__article-info {
    max-width: 8.75rem;
  }
}

.news__article-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.news__article-city {
  margin-top: 0.5rem;
}

.news__article-title {
  font-size: 2.25rem;
}
.news__article-title a {
  color: inherit;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.news__article-title a:hover {
  color: var(--color-red);
}

.news__article-txt {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-family: var(--font-pt);
}

.news__article-arrow {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.news__article-link {
  width: 3.125rem;
}
.news__article-link:hover img {
  -webkit-transform: translateX(0.625rem) scale(1.15);
  -ms-transform: translateX(0.625rem) scale(1.15);
  transform: translateX(0.625rem) scale(1.15);
}
.news__article-link img {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.news__slider {
  position: relative;
  overflow: hidden;
  padding: 0 1rem 1.5rem 1rem;
}
.news__slider .news__slider-pagination {
  width: auto;
  bottom: 0;
  top: auto;
  left: 1rem;
  right: 1rem;
  border-radius: 2.5rem;
  overflow: hidden;
}
.news__slider .news__slider-pagination .swiper-pagination-progressbar-fill {
  background-color: var(--color-red);
  border-radius: 2.5rem;
}

.news__card-cover {
  border-radius: 0.5rem;
}

.news__card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--font-pt);
  color: var(--silver-color);
  font-size: 0.875rem;
  margin-top: 1rem;
}

.news__card-date {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid var(--silver-color);
}

.news__card-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}
.news__card-title a {
  color: inherit;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.news__card-title a:hover {
  color: var(--color-red);
}

.news__card-text {
  font-family: var(--font-pt);
  margin-top: 0.5rem;
}

.news__card-link {
  margin-top: 1rem;
}

.news__footer {
  padding: 0 1rem;
  margin-top: 1.5rem;
}

.news__footer-button {
  width: 100%;
  text-align: center;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (width <= 768px) {
  .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.filter__selects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
}
@media screen and (width <= 768px) {
  .filter__selects {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.filter__remove {
  font-family: var(--font-pt);
  font-weight: 700;
  color: var(--color-red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
@media screen and (width <= 768px) {
  .filter__remove {
    -ms-flex-item-align: end;
    align-self: flex-end;
    -webkit-column-gap: 4px;
    -moz-column-gap: 4px;
    column-gap: 4px;
  }
}
.filter__remove:hover {
  color: #c02c36;
}

.select-menu__btn-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;
}
.select-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
  font-size: 1.125rem;
  font-family: var(--font-pt);
  font-weight: 700;
  line-height: 1.2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.select-menu__btn:hover {
  color: var(--color-red);
}
.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.5rem;
  -moz-column-gap: 0.5rem;
  column-gap: 0.5rem;
}
.tabs__nav-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.tabs__nav-item--active {
  position: relative;
}
.tabs__nav-item--active .tabs__nav-btn {
  color: var(--light-color);
  background-color: var(--color-red);
}
.tabs__nav-item--active .tabs__nav-btn:hover {
  color: var(--light-color);
}
@media screen and (width <= 768px) {
  .tabs__nav-item--active::after {
    visibility: visible;
    opacity: 1;
  }
}
.tabs__nav-btn {
  background-color: var(--light-color);
  font-weight: 700;
  font-size: 2rem;
  padding: 1rem;
  line-height: 0.8;
  color: var(--silver-color);
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.tabs__nav-btn:hover {
  color: var(--color-red);
}
@media screen and (width <= 768px) {
  .tabs__nav-btn {
    font-size: 20px;
  }
}
.tabs__panel {
  opacity: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease, height 0.3s ease;
  transition: opacity 0.3s ease, height 0.3s ease;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.tabs__panel--active {
  opacity: 1;
  height: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  overflow: visible;
  -webkit-animation: fadeIn 0.4s ease-out;
  animation: fadeIn 0.4s ease-out;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes underline {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
@keyframes underline {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (width <= 768px) {
  .pagination {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.pagination__item-ellipsis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 49px;
}
@media screen and (width <= 768px) {
  .pagination__item-ellipsis {
    width: 54px;
    height: 46px;
    font-size: 1.25rem;
  }
}
.pagination__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50px;
  height: 49px;
  -webkit-transition: background-color ease 0.3s, border-color ease 0.3s, color ease 0.3s;
  transition: background-color ease 0.3s, border-color ease 0.3s, color ease 0.3s;
}
.pagination__item:hover {
  color: var(--light-color);
  background-color: var(--color-red);
}
.pagination__item:hover .pagination__arrows svg path {
  stroke: var(--color-red);
}
.pagination__item svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagination__item--active {
  background-color: var(--color-red);
  color: var(--light-color);
}
.pagination__item--active:hover {
  color: var(--light-color);
}
@media screen and (width <= 768px) {
  .pagination__item--mobile {
    display: none;
  }
}
@media screen and (width <= 768px) {
  .pagination__item {
    width: 54px;
    height: 46px;
    font-size: 1.25rem;
  }
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
  -moz-column-gap: 4px;
  column-gap: 4px;
}
.pagination__link {
  width: 100%;
  height: 100%;
}
.pagination__link, .pagination__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.pagination__arrows {
  width: 50px;
  height: 49px;
}
.pagination__arrows--disabled {
  pointer-events: none;
}
.pagination__arrows--disabled svg path {
  stroke: var(--black-color);
  opacity: 0.7;
}
@media screen and (width <= 768px) {
  .pagination__arrows {
    display: none;
  }
}
.pagination__arrows:hover svg path {
  stroke: var(--color-red);
}
.pagination__arrows svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  stroke: #B4B4B4;
}
.pagination__next svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.photo-card {
  background-color: var(--light-color);
  border-radius: 1rem;
  padding: 1.5rem;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.photo-card:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
@media screen and (width <= 768px) {
  .photo-card {
    padding: 1rem;
  }
}
.photo-card__link:hover .photo-card__img-wrap::before {
  opacity: 0.2;
}
.photo-card__link:hover .photo-card__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.photo-card__link:hover .photo-card__title {
  color: var(--color-red);
}
.photo-card__link:hover .photo-card__qty {
  bottom: 8px;
}
.photo-card__img-wrap {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.25rem;
}
.photo-card__img-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-red);
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  z-index: 2;
}
@media screen and (width <= 768px) {
  .photo-card__img-wrap {
    margin-bottom: 0.5rem;
  }
}
.photo-card__img {
  border-radius: 0.25rem;
  width: 100%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.photo-card__qty {
  position: absolute;
  padding: 4px 8px;
  background-color: var(--color-red);
  border-radius: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 0.25rem;
  -moz-column-gap: 0.25rem;
  column-gap: 0.25rem;
  bottom: -100%;
  right: 8px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  z-index: 2;
}
@media screen and (width <= 768px) {
  .photo-card__qty {
    bottom: 8px;
  }
}
.photo-card__qty-num {
  color: var(--light-color);
  font-family: var(--font-pt);
  font-size: 0.75rem;
}
.photo-card__info {
  color: var(--silver-color);
  margin-bottom: 1.5rem;
}
@media screen and (width <= 768px) {
  .photo-card__info {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}
.photo-card__date {
  position: relative;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}
.photo-card__date::before {
  content: "|";
  color: var(--silver-color);
  position: absolute;
  right: -0.5rem;
}
.photo-card__city, .photo-card__date {
  font-family: var(--font-pt);
}
.photo-card__title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
@media screen and (width <= 768px) {
  .photo-card__title {
    font-size: 1.5rem;
  }
}

.video-card {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.video-card:hover {
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}
.video-card:hover .video-card__img-wrap::before {
  opacity: 0.2;
}
.video-card:hover .video-card__play-btn {
  opacity: 1;
}
.video-card:hover .video-card__img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.video-card:hover .video-card__title {
  color: var(--color-red);
}
.video-card__play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 88px;
  height: 56px;
  border-radius: 50px;
  background-color: var(--light-color);
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0;
  z-index: 3;
  cursor: pointer;
}
@media screen and (width <= 768px) {
  .video-card__play-btn {
    opacity: 1;
  }
}
.video-card__play-icon {
  margin-left: 5px;
}
.video-card__img-wrap {
  position: relative;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 0.25rem;
}
@media screen and (width <= 768px) {
  .video-card__img-wrap {
    height: 209px;
  }
}
.video-card__img-wrap::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-red);
  opacity: 0;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
  width: 100%;
  height: 100%;
  z-index: 2;
}
@media screen and (width <= 768px) {
  .video-card__img-wrap::before {
    opacity: 0.2;
  }
}
@media screen and (width <= 768px) {
  .video-card__img-wrap {
    margin-bottom: 0.5rem;
  }
}
.video-card__img {
  border-radius: 0.25rem;
  width: 100%;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.video-card__time {
  position: absolute;
  padding: 4px 8px;
  background: rgba(32, 32, 32, 0.6);
  color: var(--light-color);
  font-size: 0.875rem;
  border-radius: 0.25rem;
  right: 11px;
  bottom: 12px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  z-index: 2;
}
.video-card__info {
  color: var(--silver-color);
  margin-bottom: 1.5rem;
}
@media screen and (width <= 768px) {
  .video-card__info {
    font-size: 0.875rem;
    margin-bottom: 1rem;
  }
}
.video-card__date {
  position: relative;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}
.video-card__date::before {
  content: "|";
  color: var(--silver-color);
  position: absolute;
  right: -0.5rem;
}
.video-card__city, .video-card__date {
  font-family: var(--font-pt);
}
.video-card__title {
  font-size: 2rem;
  font-weight: 700;
  -webkit-transition: color 0.15s;
  transition: color 0.15s;
}
@media screen and (width <= 768px) {
  .video-card__title {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=main.css.map */
