<div class="main-about">
  <div class="main-about__container container">
    <p class="main-about__subtitle">Что такое ГТО?</p>
    <h2 class="main-about__title subtitle">
      <span class="text_red">комплекс физических испытаний</span>,
      направленный на укрепление здоровья всех россиян и популяризацию активного
      образа жизни.
    </h2>
    <p class="main-about__text">
      Выполняй нормативы на золотой, серебряный и бронзовый знаки отличия!
    </p>
    <a class="main-about__button button button_red" href="about.html">
      Подробнее о ГТО
    </a>

    <div class="main-about__items">
      <div class="main-about__item">
        <div class="main-about__image">
          <img src="img/pages/main/bronze.png" alt="Бронзовая медаль" />
        </div>
      </div>
      <div class="main-about__item">
        <div class="main-about__image">
          <img src="img/pages/main/silver.png" alt="Бронзовая медаль" />
        </div>
      </div>
      <div class="main-about__item">
        <div class="main-about__image">
          <img src="img/pages/main/gold.png" alt="Бронзовая медаль" />
        </div>
      </div>
    </div>
  </div>
</div>
