<div class="main-faq" id="faq">
  <div class="main-faq__container container">
    <div class="main-faq__head">
      <div class="main-faq__title subtitle">Популярные вопросы</div>
      <div class="main-faq__button main-faq__button_desctop">
        <a class="main-faq__link button button_red" href="faq.html">все вопросы</a>
      </div>
    </div>
    <div class="main-faq__body">
      <div class="accordion">
        <div class="accordion-item">
          <button class="accordion-header">
            Я хочу выполнить все нормативы в один день, это возможно?
            <span class="accordion-header__arrow">
              @include('../../components/sprite.html', {
              class:"accordion-header__arrow-icon", width: 32, height: 32, name:
              "accordion-arrow" })
            </span>
          </button>
          <div class="accordion-content">
            <p class="accordion-text">
              Нет, это невозможно сделать за один день.
            </p>
            <p class="accordion-text">
              Во-первых, у вас есть только одна попытка на выполнение одного
              норматива на знак отличия. К выполнению испытаний необходимо
              готовиться в индивидуальном порядке и приходить в центр
              тестирования, когда вы полностью уверены в своих силах.
              Тестирование потребует у вас запас сил и энергии – какой-то
              норматив больше, а какой-то меньше.
            </p>
            <p class="accordion-text">
              Во-вторых, может потребоваться некоторые нормативы выполнить в
              разных местах тестирования и в определенное время года. Например,
              норматив по плаванию выполняется в бассейне, а по бегу на лыжах –
              на специальных лыжных трассах в зимнее время года.
            </p>
          </div>
        </div>
        <!--  -->

        <div class="accordion-item">
          <button class="accordion-header">
            Где и когда я могу увидеть свои результаты?
            <span class="accordion-header__arrow">
              @include('../../components/sprite.html', {
              class:"accordion-header__arrow-icon", width: 32, height: 32, name:
              "accordion-arrow" })
            </span>
          </button>
          <div class="accordion-content">
            <p class="accordion-text">
              Нет, это невозможно сделать за один день.
            </p>
            <p class="accordion-text">
              Во-первых, у вас есть только одна попытка на выполнение одного
              норматива на знак отличия. К выполнению испытаний необходимо
              готовиться в индивидуальном порядке и приходить в центр
              тестирования, когда вы полностью уверены в своих силах.
              Тестирование потребует у вас запас сил и энергии – какой-то
              норматив больше, а какой-то меньше.
            </p>
            <p class="accordion-text">
              Во-вторых, может потребоваться некоторые нормативы выполнить в
              разных местах тестирования и в определенное время года. Например,
              норматив по плаванию выполняется в бассейне, а по бегу на лыжах –
              на специальных лыжных трассах в зимнее время года.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">
            Какие привелегии дает знак ГТО для студентов?
            <span class="accordion-header__arrow">
              @include('../../components/sprite.html', {
              class:"accordion-header__arrow-icon", width: 32, height: 32, name:
              "accordion-arrow" })
            </span>
          </button>
          <div class="accordion-content">
            <p class="accordion-text">
              Нет, это невозможно сделать за один день.
            </p>
            <p class="accordion-text">
              Во-первых, у вас есть только одна попытка на выполнение одного
              норматива на знак отличия. К выполнению испытаний необходимо
              готовиться в индивидуальном порядке и приходить в центр
              тестирования, когда вы полностью уверены в своих силах.
              Тестирование потребует у вас запас сил и энергии – какой-то
              норматив больше, а какой-то меньше.
            </p>
            <p class="accordion-text">
              Во-вторых, может потребоваться некоторые нормативы выполнить в
              разных местах тестирования и в определенное время года. Например,
              норматив по плаванию выполняется в бассейне, а по бегу на лыжах –
              на специальных лыжных трассах в зимнее время года.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">
            Сколько всего можно получить знаков отличия ГТО?
            <span class="accordion-header__arrow">
              @include('../../components/sprite.html', {
              class:"accordion-header__arrow-icon", width: 32, height: 32, name:
              "accordion-arrow" })
            </span>
          </button>
          <div class="accordion-content">
            <p class="accordion-text">
              Нет, это невозможно сделать за один день.
            </p>
            <p class="accordion-text">
              Во-первых, у вас есть только одна попытка на выполнение одного
              норматива на знак отличия. К выполнению испытаний необходимо
              готовиться в индивидуальном порядке и приходить в центр
              тестирования, когда вы полностью уверены в своих силах.
              Тестирование потребует у вас запас сил и энергии – какой-то
              норматив больше, а какой-то меньше.
            </p>
            <p class="accordion-text">
              Во-вторых, может потребоваться некоторые нормативы выполнить в
              разных местах тестирования и в определенное время года. Например,
              норматив по плаванию выполняется в бассейне, а по бегу на лыжах –
              на специальных лыжных трассах в зимнее время года.
            </p>
          </div>
        </div>
        <div class="accordion-item">
          <button class="accordion-header">
            Что мне нужно для выполнения норм ГТО?
            <span class="accordion-header__arrow">
              @include('../../components/sprite.html', {
              class:"accordion-header__arrow-icon", width: 32, height: 32, name:
              "accordion-arrow" })
            </span>
          </button>
          <div class="accordion-content">
            <p class="accordion-text">
              Нет, это невозможно сделать за один день.
            </p>
            <p class="accordion-text">
              Во-первых, у вас есть только одна попытка на выполнение одного
              норматива на знак отличия. К выполнению испытаний необходимо
              готовиться в индивидуальном порядке и приходить в центр
              тестирования, когда вы полностью уверены в своих силах.
              Тестирование потребует у вас запас сил и энергии – какой-то
              норматив больше, а какой-то меньше.
            </p>
            <p class="accordion-text">
              Во-вторых, может потребоваться некоторые нормативы выполнить в
              разных местах тестирования и в определенное время года. Например,
              норматив по плаванию выполняется в бассейне, а по бегу на лыжах –
              на специальных лыжных трассах в зимнее время года.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="main-faq__button main-faq__button_mobile">
      <a class="main-faq__link button button_red" href="#">все вопросы</a>
    </div>
  </div>
</div>
