<div class="main-gallery">
  <div class="main-gallery__container container">
    <div class="main-gallery__head">
      <h2 class="main-gallery__title">Галерея</h2>
      <div>
        <a class="main-gallery__link button button_red" href="#">Вся галерея</a>
      </div>
    </div>
  </div>
  <div class="main-gallery__items">
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-1.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-2.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-3.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-4.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="main-gallery__items">
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-5.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-6.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-7.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-8.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-9.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
    <div class="main-gallery__item">
      <div class="main-gallery__image">
        <img src="img/pages/main/gallery/image-10.jpg" alt="Картинка" />

        <div class="main-gallery__image-info">
          <div class="main-gallery__image-date">12.01.2025</div>
          <div class="main-gallery__image-title">
            ГТО на ПМЭФ-2025: чествование героев и чемпионов!
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
