<div class="main-gallery">
  <div class="main-gallery__container container">
    <div class="main-gallery__head">
      <h2 class="subtitle">Медиагалерея</h2>
      <div class="main-gallery__button main-gallery__button_desctop">
        <a class="main-gallery__link button button_red" href="#">Вся галерея</a>
      </div>
    </div>
  </div>
  <div id="galleryTop" class="main-gallery__items">
    <div class="swiper-wrapper">
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-1.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-2.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-3.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-4.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-1.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-2.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-3.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-4.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="galleryBottom" class="main-gallery__items">
    <div class="swiper-wrapper">
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-1.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-2.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-3.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-4.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-1.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-2.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-3.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
      <div class="main-gallery__item swiper-slide">
        <div class="main-gallery__image">
          <img src="img/pages/main/gallery/image-4.jpg" alt="Картинка" />

          <div class="main-gallery__image-info">
            <div class="main-gallery__image-date">12.01.2025</div>
            <div class="main-gallery__image-title">
              ГТО на ПМЭФ-2025: чествование героев и чемпионов!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-gallery__button main-gallery__button_mobile">
    <a class="main-gallery__link button button_red" href="#">Вся галерея</a>
  </div>
</div>
