<div class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">
        <div>Узнай,</div>
        <div>на что ты</div>
        <div>способен</div>
      </h1>
      <p class="hero__subtitle">Проверь свою физическую подготовку</p>

      <a class="hero__button button button_red" href="standards.html" target="_blank">
        Посмотреть нормативы
      </a>
    </div>
    <div class="hero__picture">
      @include('../../../partials/components/picture.html', { "image":
      "img/pages/main/hero.jpg", "class": "main__picture", "width": 1920,
      "height": 1080, "alt": "Родина мать" })
    </div>
  </div>
</div>
