<div class="main-info">
  <div class="main-info__container container">
    <div class="main-info__card">
      <div class="main-info__head">
        <div class="main-info__info">
          <h2 class="main-info__title">
            С 1 января 2025 года ответственным за реализацию мероприятий
            комплекса ГТО назначена Федеральная дирекция спортмероприятий
          </h2>
          <div class="main-info__order main-info__order_mobile">
            <img src="img/pages/main/info/order.png" alt="Приказ" />
          </div>
          <p class="main-info__text">
            Приказ от 09.12.2024 № 1202 «О закреплении функций по обеспечению
            реализации мероприятий Всероссийского физкультурно-спортивного
            комплекса ГТО»
          </p>
          <a href="#" class="main-info__download button button_border">
            Скачать
          </a>
        </div>
        <div class="main-info__order main-info__order_desktop">
          <img src="img/pages/main/info/order.png" alt="Приказ" />
        </div>
      </div>
      <div class="main-info__body">
        <div class="main-info__photo">
          <img src="img/pages/main/info/photo.png" alt="Фотография" />
        </div>
        <div class="main-info__content">
          <p class="main-info__descr">
            Программа ГТО играет ключевую роль в формировании здорового образа
            жизни в России. С момента своего внедрения по инициативе Президента
            России Владимира Владимировича Путина она привлекла более 23
            миллионов участников. При этом более 11 миллионов из них полностью
            выполнили все нормативы ГТО. Это свидетельствует о высоком интересе
            к физической культуре и спорту в нашей стране, стремлении граждан к
            активной жизни.
          </p>
          <p class="main-info__descr">
            Особенно важно, что среди участников программы высока доля людей с
            ограниченными возможностями, что подчеркивает её инклюзивный
            характер.
          </p>
          <p class="main-info__descr">
            Программа ГТО вдохновляет и объединяет людей, способствуя укреплению
            здоровья нации и повышению уровня физической активности в обществе.
          </p>
          <div class="main-info__initials">
            <div class="main-info__name">Михаил Дегтярев</div>
            <div class="main-info__position">
              Министр спорта России, Президент Олимпийского комитета России
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
