<div class="loop-items">
  <ul class="loop-items__list">
    <li class="loop-items__item">
      <img src="img/shared/loop/item-2.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-3.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-4.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-5.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-6.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-7.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-8.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-9.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-10.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-11.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-12.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-13.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-14.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-15.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-16.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-2.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-3.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-4.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-5.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-6.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-7.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-8.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-9.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-10.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-11.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-12.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-13.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-14.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-15.svg" alt="Иконка" />
    </li>
    <li class="loop-items__item">
      <img src="img/shared/loop/item-16.svg" alt="Иконка" />
    </li>
  </ul>
</div>
