<div class="main-map" id="regions">
  <div class="main-map__container container">
    <div class="main-map__head">
      <h2 class="main-map__title subtitle">ГТО в РЕГИОНАХ</h2>
      <div class="main-map__body main-map__body_mobile">
        <img src="img/pages/main/map/map.svg" alt="Карта" />
      </div>
      <div class="main-map__button">
        <a class="main-map__link button button_red" href="map.html">Подробнее</a>
      </div>
    </div>
    <div class="main-map__body main-map__body_desctop">
      <div class="main-map__body-layer">
        Нажмити для взаимодействия с картой
      </div>
      <div class="main-map__map" id="map"></div>
    </div>
  </div>
</div>
