<div class="news news_desctop">
  <div class="news__container container">
    <div class="news__head">
      <h2 class="news__title">Новости</h2>
      <a class="news__link button button_red" href="#">Все новости</a>
    </div>
    <ul class="news__list">
      <li class="news__item">
        <article class="news__article">
          <div class="news__article-info">
            <div class="news__article-date">12.01.2025</div>
            <div class="news__article-city">Санкт-Петербург</div>
          </div>
          <div class="news__article-cover">
            <img src="img/shared/news/cover.jpg" alt="Картинка" />
            <div>
              <h3 class="news__article-title">
                ГТО на ПМЭФ-2025: чествование героев и чемпионов!
              </h3>
              <p class="news__article-txt">
                На Петербургском международном экономическом форуме состоялось
                вручение золотых знаков отличия ГТО
              </p>
            </div>
          </div>
          <div class="news__article-arrow">
            <a
              class="news__article-link"
              href="#"
              aria-label="Перейти к новости"
            >
              <img
                width="27"
                height="27"
                src="img/icons/right-arrow.svg"
                alt="Иконка"
              />
            </a>
          </div>
        </article>
      </li>
      <!--  -->
      <li class="news__item">
        <article class="news__article">
          <div class="news__article-info">
            <div class="news__article-date">12.01.2025</div>
            <div class="news__article-city">Санкт-Петербург</div>
          </div>
          <div class="news__article-cover">
            <img src="img/shared/news/cover.jpg" alt="Картинка" />
            <div>
              <h3 class="news__article-title">
                ГТО на ПМЭФ-2025: чествование героев и чемпионов!
              </h3>
              <p class="news__article-txt">
                На Петербургском международном экономическом форуме состоялось
                вручение золотых знаков отличия ГТО
              </p>
            </div>
          </div>
          <div class="news__article-arrow">
            <a
              class="news__article-link"
              href="#"
              aria-label="Перейти к новости"
            >
              <img
                width="27"
                height="27"
                src="img/icons/right-arrow.svg"
                alt="Иконка"
              />
            </a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__article-info">
            <div class="news__article-date">12.01.2025</div>
            <div class="news__article-city">Санкт-Петербург</div>
          </div>
          <div class="news__article-cover">
            <img src="img/shared/news/cover.jpg" alt="Картинка" />
            <div>
              <h3 class="news__article-title">
                ГТО на ПМЭФ-2025: чествование героев и чемпионов!
              </h3>
              <p class="news__article-txt">
                На Петербургском международном экономическом форуме состоялось
                вручение золотых знаков отличия ГТО
              </p>
            </div>
          </div>
          <div class="news__article-arrow">
            <a
              class="news__article-link"
              href="#"
              aria-label="Перейти к новости"
            >
              <img
                width="27"
                height="27"
                src="img/icons/right-arrow.svg"
                alt="Иконка"
              />
            </a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__article-info">
            <div class="news__article-date">12.01.2025</div>
            <div class="news__article-city">Санкт-Петербург</div>
          </div>
          <div class="news__article-cover">
            <img src="img/shared/news/cover.jpg" alt="Картинка" />
            <div>
              <h3 class="news__article-title">
                ГТО на ПМЭФ-2025: чествование героев и чемпионов!
              </h3>
              <p class="news__article-txt">
                На Петербургском международном экономическом форуме состоялось
                вручение золотых знаков отличия ГТО
              </p>
            </div>
          </div>
          <div class="news__article-arrow">
            <a
              class="news__article-link"
              href="#"
              aria-label="Перейти к новости"
            >
              <img
                width="27"
                height="27"
                src="img/icons/right-arrow.svg"
                alt="Иконка"
              />
            </a>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news__article">
          <div class="news__article-info">
            <div class="news__article-date">12.01.2025</div>
            <div class="news__article-city">Санкт-Петербург</div>
          </div>
          <div class="news__article-cover">
            <img src="img/shared/news/cover.jpg" alt="Картинка" />
            <div>
              <h3 class="news__article-title">
                ГТО на ПМЭФ-2025: чествование героев и чемпионов!
              </h3>
              <p class="news__article-txt">
                На Петербургском международном экономическом форуме состоялось
                вручение золотых знаков отличия ГТО
              </p>
            </div>
          </div>
          <div class="news__article-arrow">
            <a
              class="news__article-link"
              href="#"
              aria-label="Перейти к новости"
            >
              <img
                width="27"
                height="27"
                src="img/icons/right-arrow.svg"
                alt="Иконка"
              />
            </a>
          </div>
        </article>
      </li>
    </ul>
  </div>
</div>
