<div class="main-partners">
  <div class="main-partners__container container">
    <div class="main-partners__head">
      <h2 class="main-partners__title subtitle">Партнеры</h2>

      <div class="main-partners__button">
        <a class="main-partners__link button button_red" href="#">
          Все партнеры
        </a>
      </div>
    </div>
  </div>
  <div class="main-partners__wrapper">
    <div id="partnersTop" class="main-partners__items">
      <div class="swiper-wrapper">
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-1.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-2.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-3.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-4.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-5.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-6.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-7.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <!--  -->
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-1.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-2.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-3.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-4.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-5.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-6.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-7.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
      </div>
    </div>
    <div id="partnersBottom" class="main-partners__items">
      <div class="swiper-wrapper">
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-8.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-10.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-12.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-13.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-14.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-15.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <!--  -->
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-8.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-10.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-12.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-13.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-14.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-15.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-8.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-10.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-12.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-13.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-14.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
        <div class="main-partners__item swiper-slide">
          <div class="main-partners__card">
            <img
              src="img/pages/main/partners/item-15.png"
              alt="Логотип"
              class="main-partners__image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
