<div class="standards">
  <div class="standards__container container">
    <div class="standards__head">
      <h2 class="standards__title subtitle">Нормативы</h2>
      <div>
        <a class="standards__link button button_red" href="#">Подробнее</a>
      </div>
    </div>

    <p class="standards__text">
      Комплекс ГТО предусматривает подготовку и выполнение нормативов для мужчин
      и женщин в возрасте от 6 до 70 лет и старше.
    </p>

    <div class="standards__items">
      <div class="standards__item standards__item_red" style="background-image: url('img/pages/main/standarts/pattern.png');">
        <div class="standards__item-title">
          Для мужчин @include('../../components/sprite.html', {
          class:"standards__icon", width: 32, height: 32, name: "right-arr" })
        </div>
        <div class="standards__image">
          <img src="img/pages/main/standards/man.svg" alt="Картинка" />
        </div>
      </div>
      <div class="standards__item standards__item_blue" style="background-image: url('img/pages/main/standarts/bg.png');">
        <div class="standards__item-title">
          Для женщин @include('../../components/sprite.html', {
          class:"standards__icon", width: 32, height: 32, name: "right-arr" })
        </div>
        <div class="standards__image">
          <img src="img/pages/main/standards/woman.svg" alt="Картинка" />
        </div>
      </div>
      <div class="standards__item standards__item_green" style="background-image: url('img/pages/main/standarts/pattern.png');">
        <div class="standards__item-title">
          Особая категория @include('../../components/sprite.html', {
          class:"standards__icon", width: 32, height: 32, name: "right-arr" })
        </div>
        <div class="standards__image">
          <img
            src="img/pages/main/standards/accessibility.svg"
            alt="Картинка"
          />
        </div>
      </div>
    </div>
  </div>
</div>
