.news {
  margin-top: 7.5rem;
  @media (max-width: 480px) {
    margin-top: 2.5rem;
  }

  &_desctop {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &_mobile {
    display: none;
    @media (max-width: 768px) {
      display: block;
    }
  }
}
.news__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &_border {
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
    margin-bottom: 1rem;
  }
}
.news__list {
  margin-top: 3.5rem;
}
.news__item {
  padding: 1.5rem 0 2.5rem 0;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
}
.news__article {
  display: flex;
  gap: 4rem;
  @media (max-width: 1280px) {
    gap: 1rem;
  }
}
.news__article-info {
  max-width: 13.4375rem;
  width: 100%;
  font-family: var(--font-pt);
  @media (max-width: 1280px) {
    max-width: 8.75rem;
  }
}
.news__article-cover {
  display: flex;
  gap: 2.5rem;
}
.news__article-date {
}
.news__article-city {
  margin-top: 0.5rem;
}
.news__article-title {
  font-size: 2.25rem;
  a {
    color: inherit;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--color-red);
    }
  }
}
.news__article-txt {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  font-family: var(--font-pt);
}
.news__article-arrow {
  flex-shrink: 0;
}
.news__article-link {
  width: 3.125rem;
  &:hover {
    img {
      transform: translateX(0.625rem) scale(1.15);
    }
  }
  img {
    transition: transform 0.3s ease-in-out;
  }
}

.news__slider {
  position: relative;
  overflow: hidden;
  padding: 0 1rem 1.5rem 1rem;
  .news__slider-pagination {
    width: auto;
    bottom: 0;
    top: auto;
    left: 1rem;
    right: 1rem;
    border-radius: 2.5rem;
    overflow: hidden;
    .swiper-pagination-progressbar-fill {
      background-color: var(--color-red);
      border-radius: 2.5rem;
    }
  }
}

.news__card-cover {
  border-radius: 0.5rem;
}
.news__card-head {
  display: flex;
  font-family: var(--font-pt);
  color: var(--silver-color);
  font-size: 0.875rem;
  margin-top: 1rem;
}
.news__card-date {
  padding-right: 1rem;
  margin-right: 1rem;
  border-right: 1px solid var(--silver-color);
}
.news__card-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  a {
    color: inherit;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: var(--color-red);
    }
  }
}
.news__card-text {
  font-family: var(--font-pt);
  margin-top: 0.5rem;
}
.news__card-link {
  margin-top: 1rem;
}
.news__footer {
  padding: 0 1rem;
  margin-top: 1.5rem;
}
.news__footer-button {
  width: 100%;
  text-align: center;
}
