.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.pagination-button {
  @media (max-width: 480px) {
    display: none;
  }
}
.pagination-button-prev,
.pagination-button-next {
  display: flex;
  align-items: center;
  color: var(--silver-color);
  transition: transform 0.2s ease, color 0.2s ease;
  &:hover {
    color: var(--color-red);
  }
}
.pagination-button-prev {
  transform: rotate(90deg);
  &:active {
    transform: scale(0.85) rotate(90deg);
  }
}
.pagination-button-next {
  transform: rotate(-90deg);
  &:active {
    transform: scale(0.85) rotate(-90deg);
  }
}
.pagination-list {
  display: flex;
  align-items: center;
  @media (max-width: 480px) {
    width: 100%;
    gap: 0.25rem;
  }
}
.pagination-item {
  @media (max-width: 480px) {
    flex: 1;
  }
  &_desctop {
    display: block;
    @media (max-width: 480px) {
      display: none;
    }
  }
}
.pagination-link {
  @media (max-width: 768px) {
    padding: 1rem;
    width: 100%;
    text-align: center;
  }
  &:hover {
    color: var(--color-red);
    background-color: rgba(180, 180, 180, 0.2);
  }
}
