.button {
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--light-black);
  font-family: var(--font-babas);
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.1s ease-in-out, transform 0.1s ease-in-out;

  // .button_red
  &_red {
    color: var(--light-color);
    background-color: var(--color-red);

    &:hover {
      background-color: #c02c36;
    }
    &:active {
      background-color: #ac1b25;
      transform: scale(0.95);
    }
  }

  // .button_gray
  &_gray {
    background-color: #f2f2f2;
    color: var(--silver-color);
    &:hover {
      background-color: #e6e6e6;
    }
    &:active {
      background-color: #d9d9d9;
      transform: scale(0.95);
    }
  }

  &_border {
    border: 0.125rem solid var(--color-red);
    color: var(--color-red);
    &:hover {
      background-color: rgba(205, 49, 60, 0.05);
    }
  }
}
