.button {
  display: inline-block;
  padding: 1rem 1.5rem;
  color: var(--light-color);
  font-family: var(--font-babas);
  font-weight: 700;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: background-color 0.2s ease-in-out;

  // .button_red
  &_red {
    background-color: var(--color-red);

    &:hover {
      background-color: #c02c36;
    }
    &:active {
      background-color: #ac1b25;
    }
  }

  &_border {
    border: 0.125rem solid var(--color-red);
    color: var(--color-red);
    &:hover {
      background-color: rgba(205, 49, 60, 0.05);
    }
  }
}
