<div class="head-filter">
  <form class="head-filter__search">
    <input
      class="head-filter__search-input"
      type="text"
      placeholder="Введите вопрос"
    />
    <button class="head-filter__search-button button button_red">
      <span class="head-filter__search-text">Найти</span>
      <img
        class="head-filter__search-search"
        src="img/icons/white-search.svg"
        alt="Поиск"
      />
    </button>
  </form>
  <div class="head-filter__tabs">
    <button class="head-filter__tabs-button button button_red">Все</button>
    <button class="head-filter__tabs-button button button_white">
      Нормативы
    </button>
    <button class="head-filter__tabs-button button button_white">
      Участие в ГТО
    </button>
    <button class="head-filter__tabs-button button button_white">
      Знаки отличия
    </button>
    <button class="head-filter__tabs-button button button_white">
      Организация
    </button>
  </div>
</div>
