<div class="head-filter head-filter_desctop">
  <form class="head-filter__search">
    <input
      class="head-filter__search-input"
      type="text"
      placeholder="Название или номер документа"
    />
    <button class="head-filter__search-button button button_red">
      <span class="head-filter__search-text">Найти</span>
      <img
        class="head-filter__search-search"
        src="img/icons/white-search.svg"
        alt="Поиск"
      />
    </button>
  </form>
  <div class="head-filter__tabs">
    <button class="head-filter__tabs-button button button_red">Все</button>
    <button class="head-filter__tabs-button button button_white">
      Положения о фестивалях
    </button>
    <button class="head-filter__tabs-button button button_white">
      Приказы о награждении
    </button>
    <div class="select-menu date-filter__select">
      <div class="select-menu__wrapper" id="calendar-wrapper">
        <img class="select-menu__img" src="img/svg/calendar.svg" alt="Календарь">

        <input class="select-menu__input" type="text" id="date-input" placeholder="Выберите дату" readonly>

        <button class="select-menu__clear">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M17 7L7 17M7 7L17 17" stroke="#B4B4B4" stroke-width="2.5" stroke-linecap="round"
              stroke-linejoin="round" />
          </svg>
        </button>

        <svg class="select-menu__arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M18 10L12 16L6 10" stroke="#B4B4B4" stroke-width="2.5" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="head-filter head-filter_mobile">
  <form class="head-filter__search">
    <input
      class="head-filter__search-input"
      type="text"
      placeholder="Название или номер документа"
    />
    <button class="head-filter__search-button button button_red">
      <span class="head-filter__search-text">Найти</span>
      <img
        class="head-filter__search-search"
        src="img/icons/white-search.svg"
        alt="Поиск"
      />
    </button>
  </form>

  <button class="head-filter__date">Дата публикации</button>
  <button class="head-filter__doc">Тип документа</button>

  <button class="head-filter__reset">
    @include('sprite.html', { class:"head-filter__reset-icon",
    width: 24, height: 24, name: "close" }) Сбросить фильтр
  </button>
</div>
