<div class="pagination">
  <div class="pagination-button">
    <button class="pagination-button-prev">
      @include('../../partials/components/sprite.html', {
      class:"about-disciplines__button-prev-icon", width: 32, height: 32, name:
      "arrow-up" })
    </button>
  </div>
  <ul class="pagination-list">
    <li class="pagination-item">
      <a class="pagination-link button button_red" href="#"> 1 </a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link button" href="#">2</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link button" href="#">3</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link button" href="#">4</a>
    </li>
    <li class="pagination-item pagination-item_desctop">
      <a class="pagination-link button" href="#">5</a>
    </li>
    <li class="pagination-item pagination-item_desctop">
      <a class="pagination-link button" href="#">6</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link button" href="#">...</a>
    </li>
    <li class="pagination-item">
      <a class="pagination-link button" href="#">124</a>
    </li>
  </ul>
  <div class="pagination-button">
    <button class="pagination-button-next">
      @include('../../partials/components/sprite.html', {
      class:"about-disciplines__button-prev-icon", width: 32, height: 32, name:
      "arrow-up" })
    </button>
  </div>
</div>
