.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (width <=768px) {
    flex-direction: column;
  }

  &__selects {
    display: flex;
    align-items: center;
    column-gap: 4rem;

    @media screen and (width <=768px) {
      flex-direction: column;
    }
  }

  &__remove {
    font-family: var(--font-pt);
    font-weight: 700;
    color: var(--color-red);
    display: flex;
    align-items: center;
    column-gap: 8px;

    @media screen and (width <=768px) {
      align-self: flex-end;
      column-gap: 4px;
    }

    &:hover {
      color: #c02c36;
    }
  }
}