.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (width <=768px) {
    flex-direction: column;
  }

  &__selects {
    display: flex;
    align-items: center;
    column-gap: 4rem;

    @media screen and (width <=768px) {
      width: 100%;
      flex-direction: column;
      row-gap: 1rem;
      align-items: flex-start;
    }
  }

  &__remove-img {
    path {
      transition: all 0.3s;
    }
  }

  &__remove {
    font-family: var(--font-pt);
    font-weight: 700;
    color: var(--silver-color);
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: all 0.3s;

    @media screen and (width <=768px) {
      align-self: flex-end;
      column-gap: 4px;
    }

    &:hover {
      color: #c02c36;

      .filter__remove-img {
        path {
          stroke: #c02c36;
        }
      }
    }
  }
}
