.select-menu {
  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 4px;
    transition: all 0.3s;
    position: relative;
  }

  &__clear {
    display: flex;
    width: 0;
    height: 0;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    z-index: 3;
    top: 50%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);

    path {
      transition: all 0.3s;
    }

    &:hover {
      path {
        stroke: var(--color-red);
      }
    }

    &--active {
      opacity: 1;
      visibility: visible;
      width: 24px;
      height: 24px;
    }
  }

  &__input {
    outline: transparent;
    background-color: transparent;
    padding: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    padding: 0 28px 0 28px;
    position: relative;
    z-index: 2;
    font-family: var(--font-pt);
    font-weight: 700;
    line-height: 1;
    max-width: 210px;
    width: 100%;
    transition: all 0.3s;

    &::placeholder {
      font-family: var(--font-pt);
      color: var(--color-black);
      font-weight: 700;
      line-height: 1;
      font-size: 19px;
    }
  }

  &__img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: all 0.3s;
    z-index: 1;

    &--active {
      transform: translateY(-50%) rotate(180deg); // Сохраняем translateY

      path {
        stroke: var(--color-black);
      }
    }
  }
}

.flatpickr-calendar {
  padding: 8px;
  border-radius: 8px;
  max-width: fit-content;
  margin-top: 5px;

  &::after,
  &::before {
    display: none;
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    display: none;
  }

  .flatpickr-weekdaycontainer {
    justify-content: space-between;
  }

  .flatpickr-weekday {
    width: 26px;
    height: 26px;
    max-width: 26px;
    max-height: 26px;
    font-family: var(--font-pt);
    color: var(--color-black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;

    &:nth-child(6),
    &:nth-child(7) {
      color: red;
    }
  }

  .flatpickr-days,
  .dayContainer {
    width: auto;
    min-width: auto;
  }

  .dayContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
  }

  .flatpickr-day {
    font-family: var(--font-pt);
    font-size: 16px;
    font-weight: 700;
    width: 26px;
    height: 26px;
    max-width: 26px;
    max-height: 26px;
    border-radius: 4px;
    padding: 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    &.startRange.endRange {
      border-radius: 4px;
    }

    &:hover {
      background-color: rgba(180, 180, 180, 0.2);
    }

    &.selected {
      background-color: var(--color-red) !important;
      border-color: var(--color-red);
      color: var(--light-color);
    }

    &.today {
      position: relative;
      border-color: transparent;

      &:hover {
        color: var(--color-black);
      }

      &.selected {
        color: var(--light-color)
      }

      &:after {
        content: '';
        position: absolute;
        width: 4px;
        height: 4px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        background-color: var(--color-red);
      }
    }

    &.startRange,
    &.endRange {
      border-radius: 4px;
      border-color: var(--color-red);
      background-color: var(--color-red);

      &:hover {
        color: var(--light-color);
      }
    }

    &.inRange {
      box-shadow: none;
      background-color: rgba(205, 49, 60, 0.4);

      &:hover {
        color: var(--color-black)
      }
    }

    .flatpickr-current-month {
      display: flex;
      justify-content: space-between;
    }

    .startRange {
      background-color: var(--color-red) !important;
      border-color: var(--color-red);
      color: var(--light-color);
    }
  }

  .flatpickr-current-month {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    position: static;
  }

  .flatpickr-current-month .flatpickr-monthDropdown-months {
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-pt);
    padding: 0;
  }

  .numInputWrapper {
    width: 60px;
  }

  .flatpickr-current-month input.cur-year {
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-pt);

  }
}
