.main-info {
  margin-top: 10rem;
  @media (max-width: 480px) {
    margin-top: 5rem;
  }
}
.main-info__card {
  padding: 2.5rem;
  background-color: var(--light-color);
  border-radius: 1.5rem;
  @media (max-width: 768px) {
    padding: 1.5rem;
  }
}
.main-info__head {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.main-info__info {
  max-width: 55.6875rem;
}
.main-info__title {
  font-size: 2.25rem;
  font-weight: 700;
  @media (max-width: 480px) {
    font-size: 1.5rem;
    line-height: 1.2;
  }
}
.main-info__text {
  font-size: 1.125rem;
  font-family: var(--font-pt);
  line-height: 1.4;
  margin-top: 1rem;
  @media (max-width: 480px) {
    font-size: 16px;
    line-height: 1.2;
  }
}
.main-info__download {
  margin-top: 2.5rem;
  @media (max-width: 480px) {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
  }
}
.main-info__order {
  flex-shrink: 0;
  &_desktop {
    @media (max-width: 768px) {
      display: none;
    }
  }
  &_mobile {
    display: none;
    @media (max-width: 768px) {
      text-align: center;
      display: block;
      margin: 1rem 0;
    }
  }
}
.main-info__body {
  display: flex;
  gap: 2.5rem;
  margin-top: 5rem;
  padding-top: 3.5rem;
  border-top: 1px solid rgba(180, 180, 180, 0.4);
  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }
  @media (max-width: 480px) {
    padding-top: 2.5rem;
    margin-top: 2.5rem;
    gap: 1.5rem;
  }
}
.main-info__photo {
  flex-shrink: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    @media (max-width: 480px) {
      border-radius: 0.5rem;
    }
  }
}
.main-info__content {
  position: relative;
  &::before {
    position: absolute;
    top: -2.25rem;
    left: -2rem;
    transform: translateX(-100%);
    content: "«";
    line-height: 1;
    font-size: 10rem;
    color: rgba(214, 236, 245, 1);
    @media (max-width: 768px) {
      font-size: 6rem;
      content: none;
    }
  }
  &::after {
    position: absolute;
    bottom: -2.25rem;
    right: -2rem;
    transform: translateX(-100%);
    content: "»";
    line-height: 1;
    font-size: 10rem;
    color: rgba(214, 236, 245, 1);
    @media (max-width: 768px) {
      font-size: 6rem;
      bottom: 1.25rem;
    }
  }
}
.main-info__descr {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: var(--font-pt);

  @media (max-width: 480px) {
    font-size: 1rem;
  }

  & + & {
    margin-top: 0.625rem;
  }
}
.main-info__initials {
  margin-top: 4rem;
  @media (max-width: 480px) {
    margin-top: 1.5rem;
  }
}
.main-info__name {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  @media (max-width: 480px) {
    font-size: 2rem;
    line-height: 1;
  }
}
.main-info__position {
  margin-top: 1rem;
  font-family: var(--font-pt);
  @media (max-width: 480px) {
    margin-top: 0.75rem;
  }
}
