.partners {
  padding: 1rem 0 2.5rem;

  @media screen and (width <=768px) {
    padding-bottom: 0;
  }

  &__breadcrumbs {
    margin-bottom: 5rem;

    @media screen and (width <=768px) {
      margin-bottom: 2.5rem;
    }
  }

  &__subtitle {
    margin-bottom: 4rem;

    @media screen and (width <=768px) {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;

    @media screen and (width <=1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (width <=990px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (width <=768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.25rem;
    }
  }

  &__item {
    background-color: var(--light-color);
    border-radius: 1rem;
    padding: 2rem;
    min-height: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      .partners__item-info {
        opacity: 1;
      }
    }

    @media screen and (width <=768px) {
      height: 90px;
      min-height: auto;
    }
  }

  &__item-info {
    background-color: var(--color-red);
    border-radius: 1rem;
    padding: 1.5rem;
    color: var(--light-color);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;

    @media screen and (width <=768px) {
      padding: 1rem;
    }
  }

  &__item-text {
    font-family: var(--font-pt);
    font-size: 0.875rem;
    text-align: center;

    @media screen and (width <=768px) {
      display: none;
    }
  }

  &__item-link {
    margin-top: auto;
    text-align: center;
    text-decoration: underline;
  }

  &__img {
    @media screen and (width <=768px) {
      height: 65px;
      object-fit: contain;
    }
  }
}