<div class="about-disciplines">
  <div class="about-disciplines__container container">
    <div class="about-disciplines__head">
      <h2 class="about-disciplines__title subtitle">Дисциплины</h2>
      <div class="about-disciplines__button">
        <a class="about-disciplines__link button button_red" href="#">
          Скачать рекомендации
        </a>
      </div>
    </div>
    <div class="about-disciplines__slider">
      <div class="swiper-wrapper">
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                бег на длинные дистанции
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/1.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/1.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                бег на короткие дистанции
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/2.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/2.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">бег на лыжах</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/3.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/3.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">челночный бег</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/4.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div
              class="about-disciplines__picture about-disciplines__picture_center"
            >
              <img
                src="img/pages/about/disciplines/4.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">туристский поход</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/5.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/5.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <!--  -->
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Стрельба</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/6.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/6.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                сгибание разгибание рук
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/7.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/7.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Рывок Гири</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/8.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/8.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                прыжок в длину с разбега
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/9.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/9.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                кросс по пересеченной местности
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/10.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/10.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Подтягивание</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/11.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/11.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                прыжок в длину с места
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/12.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/12.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                Смешанное передвижение
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/13.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/13.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                Скандинавская ходьба
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/14.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/14.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                смешанное передвижение по пересеченное местности
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/15.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/15.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Плавание</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/16.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/16.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Наклон вперед</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/17.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/17.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Метание</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/18.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/18.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Поднимание туловища</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/19.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/19.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                Метанице мяча в цель
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/20.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/20.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">Самбо</div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/21.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/21.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
        <div class="about-disciplines__slide swiper-slide">
          <a class="about-disciplines__card" href="#">
            <div class="about-disciplines__head">
              <div class="about-disciplines__subtitle">
                Передвижение на лыжах
              </div>
              <div class="about-disciplines__icon">
                <img
                  src="img/pages/about/disciplines/icons/22.svg"
                  alt="Иконка"
                  class="about-disciplines__svg"
                />
              </div>
            </div>
            <div class="about-disciplines__picture">
              <img
                src="img/pages/about/disciplines/22.svg"
                alt="Дисциплина"
                class="about-disciplines__cover"
              />
            </div>
          </a>
        </div>
      </div>
      <div class="about-disciplines__pagination swiper-pagination"></div>
      <div class="about-disciplines__button-prev swiper-button-prev">
        @include('../../components/sprite.html', {
        class:"about-disciplines__button-prev-icon", width: 32, height: 32,
        name: "arrow-up" })
      </div>
      <div class="about-disciplines__button-next swiper-button-next">
        @include('../../components/sprite.html', {
        class:"about-disciplines__button-next-icon", width: 32, height: 32,
        name: "arrow-up" })
      </div>
    </div>
  </div>
</div>
