<div class="about-history" id="about-history">
  <div class="about-history__container container">
    <h2 class="about-history__subtitle subtitle">История ГТО</h2>

    <div class="about-history__body">
      <div class="about-history__cols">
        <div class="about-history__col">
          <span class="about-history__line"></span>
          <div class="about-history__date">1927 – 1939</div>
        </div>
        <div class="about-history__col">
          <div class="about-history__title">
            ПЕРВЫЙ КОМПЛЕКС ГТО И ДАЛЬНЕЙШЕЕ ЕГО РАЗВИТИЕ
          </div>

          <div class="about-history__info about-history__info_flex-end">
            <div class="about-history__content">
              <p class="about-history__text">
                В 1927 году путем слияний и реорганизаций нескольких
                военно-спортивных объединений в СССР создается самая крупная из
                специализированных общественных организаций — Общество
                содействия обороне, авиационному и химическому строительству
                (ОСОАВИАХИМ).
              </p>
              <p class="about-history__text">
                По всей стране под эгидой ОСОАВИАХИМа строятся тиры, стрельбища,
                создаются аэроклубы и военно-спортивные кружки, где молодежь
                осваивает специальности радиста, телеграфиста, парашютиста,
                моториста, санитара, медсестры, пилота и др.
              </p>
            </div>
            <div class="about-history__content">
              <div class="about-history__number">2 млн</div>
              <div class="about-history__sup">
                человек насчитывается в организации уже к началу 1928 года
              </div>
            </div>
          </div>

          <div class="about-history__card">
            <div class="about-history__picture">
              <img
                src="img/pages/about/history-1.png"
                alt="Вырезка из газеты"
              />
            </div>
            <div class="about-history__content">
              <h3 class="about-history__descr">
                24 мая 1930 года газета «Комсомольская правда»&nbsp;опубликовала
                предложение ввести
                <span>
                  всесоюзные&nbsp;испытания на право получения знака отличия
                  «Готов к труду и обороне»
                </span>
              </h3>
              <p class="about-history__text">
                Новая инициатива комсомола получила поддержку в широких кругах
                общественности, и по поручению Всесоюзного совета физической
                культуры при ЦИК СССР был разработан проект комплекса ГТО. После
                утверждения 11 марта 1931 года он стал нормативной основой
                системы физического воспитания для всей страны.
              </p>
            </div>
          </div>

          <div class="about-history__descr">
            Первый комплекс ГТО состоял из одной ступени, включавшей 21 норматив
          </div>

          <div class="about-history__info">
            <div class="about-history__content">
              <ul class="about-history__list">
                <li class="about-history__item">
                  Бег на 100, 500 и 1000 метров;
                </li>
                <li class="about-history__item">Прыжки в длину и высоту;</li>
                <li class="about-history__item">Метание гранаты;</li>
                <li class="about-history__item">
                  Подтягивание на перекладине;
                </li>
                <li class="about-history__item">
                  Лазание по канату или шесту;
                </li>
                <li class="about-history__item">
                  Поднимание патронного ящика весом в 32 килограмма и
                  безостановочное передвижение с ним на расстоянии 50 метров;
                </li>
                <li class="about-history__item">Плавание;</li>
                <li class="about-history__item">
                  Умение ездить на велосипеде или умение управлять трактором,
                  мотоциклом, автомобилем;
                </li>
                <li class="about-history__item">Умение грести 1 км;</li>
                <li class="about-history__item">Лыжи на 3 и 10 км;</li>
                <li class="about-history__item">
                  Верховую езду и продвижение в противогазе на 1 км.
                </li>
              </ul>
            </div>
            <div class="about-history__content">
              <div class="about-history__category">
                <div class="about-history__category-title">Мужчины</div>
                <div class="about-history__category-item">
                  I категория — с 18 до 25 лет,
                </div>
                <div class="about-history__category-item">
                  II категория — с 25 до 35 лет,
                </div>
                <div class="about-history__category-item">
                  III категория — с 35 лет и старше.
                </div>
              </div>
              <div class="about-history__category">
                <div class="about-history__category-title">Женщины</div>
                <div class="about-history__category-item">
                  I категория — с 17 до 25 лет,
                </div>
                <div class="about-history__category-item">
                  II категория — с 25 до 32 лет,
                </div>
                <div class="about-history__category-item">
                  III категория — с 32 лет и старше.
                </div>
              </div>
            </div>
          </div>

          <div class="about-history__info">
            <div class="about-history__content">
              <h3 class="about-history__descr">
                Первым обладателем знака ГТО I ступени стал знаменитый
                конькобежец <span>Яков Федорович Мельников</span>
              </h3>
              <p class="about-history__text">
                Первый заслуженный мастер спорта СССР чемпион России 1915 года,
                чемпион РСФСР 1918, 1919 и 1922 годов; чемпион СССР 1924,
                1927-28, 1932-35 годов; чемпион Европы 1927 года по
                конькобежному спорту.
              </p>
            </div>
            <div class="about-history__content">
              <div
                class="about-history__picture about-history__picture_gradient"
              >
                <img
                  src="img/pages/about/history-2.png"
                  alt="Вырезка из газеты"
                />
              </div>
            </div>
          </div>

          <p class="about-history__text">
            Со временем возникла необходимость установить повышенные требования
            к физической подготовке молодёжи. Всесоюзным советом физической
            культуры был утверждён и введён в действие комплекс «Готов к труду и
            обороне» II ступени.
          </p>
          <p class="about-history__text">
            <b>
              В него вошли 25 испытаний: 3 теоретических и 22 практических. Для
              женщин количество испытаний составляло 21.
            </b>
          </p>

          <div class="about-history__card">
            <div class="about-history__pictures">
              <div>
                <img
                  src="img/pages/about/picture-1.png"
                  alt="Вырезка из газеты"
                />
              </div>
              <div>
                <img
                  src="img/pages/about/picture-2.png"
                  alt="Вырезка из газеты"
                />
              </div>
            </div>
            <div class="about-history__content">
              <h3 class="about-history__descr">
                Проект знака отличия ГТО был предложен 15-летним школьником В.
                Токтаровым, окончательный эскиз разработан художником М.С.
                Ягужинским.
              </h3>
              <p class="about-history__text">
                Первые варианты знаков ГТО изготавливались из меди или латуни и
                покрывались горячими эмалями (клуазон). В дальнейшем был налажен
                выпуск знаков из алюминия.
              </p>
            </div>
          </div>

          <p class="about-history__text">
            В 1933 году ЦК ВЛКСМ предложил ввести комплекс испытаний по
            физической подготовке детей, как начальную ступень их физического
            развития.
            <b>
              Детская ступень комплекса, получившая название «Будь готов к труду
              и обороне» (БГТО) начала работать с 1934 года. В нее вошли 16 норм
              спортивно-технического характера.
            </b>
          </p>

          <h3 class="about-history__descr">
            Идеи и принципы ГТО получили своё дальнейшее развитие в Единой
            спортивной классификации (ЕВСК), созданной в 1935-1937 гг.
          </h3>

          <div class="about-history__info">
            <div class="about-history__content">
              <p class="about-history__text">
                К концу 1930-х годов, когда комплекс находился на пике
                популярности, встал вопрос о его совершенствовании. Тщательное
                обсуждение специалистами по физическому воспитанию привело к
                разработке новых нормативов комплекса ГТО, утверждённых 26
                ноября 1939 года постановлением Совета Народных Комиссаров СССР
                «О введении нового физкультурного комплекса „Готов к труду и
                обороне СССР“».
              </p>
            </div>
            <div class="about-history__content">
              <div class="about-history__number">5 млн</div>
              <div class="about-history__sup">
                физкультурников насчитывалось к 1934 году
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-history__cols">
        <div class="about-history__col">
          <div class="about-history__date">1941 – 1945</div>
        </div>
        <div class="about-history__col">
          <div class="about-history__title">
            Комплекс ГТО и великая отечественная война
          </div>
          <p class="about-history__text">
            Благодаря ГТО миллионы советских людей приобрели навыки маршевой,
            лыжной и стрелковой подготовки, метания гранат, преодоления водных
            преград и различных препятствий. Это позволило им в кратчайшие сроки
            овладеть основами военного дела.
          </p>
          <p class="about-history__text">
            <b>
              Обладателями знаков II ступени ГТО были такие герои Великой
              Отечественной войны, как:
            </b>
          </p>

          <div class="about-history__photos">
            <div class="about-history__photo">
              <img
                src="img/pages/about/photo-1.png"
                alt="Фотография"
                class="about-history__photo-img"
              />
              <div class="about-history__photo-name">И. Кожедуб</div>
            </div>
            <div class="about-history__photo">
              <img
                src="img/pages/about/photo-2.png"
                alt="Фотография"
                class="about-history__photo-img"
              />
              <div class="about-history__photo-name">А. Покрышкин</div>
            </div>
            <div class="about-history__photo">
              <img
                src="img/pages/about/photo-3.png"
                alt="Фотография"
                class="about-history__photo-img"
              />
              <div class="about-history__photo-name">Н. Гастелло</div>
            </div>
            <div class="about-history__photo">
              <img
                src="img/pages/about/photo-4.png"
                alt="Фотография"
                class="about-history__photo-img"
              />
              <div class="about-history__photo-name">В. Пчелинцев</div>
            </div>
          </div>
        </div>
      </div>

      <div class="about-history__cols">
        <div class="about-history__col">
          <div class="about-history__date">1946 – 1991</div>
        </div>
        <div class="about-history__col">
          <div class="about-history__title">
            Комплекс ГТО в послевоенной время
          </div>

          <div class="about-history__info about-history__info_flex-end">
            <div class="about-history__content">
              <p class="about-history__text">
                После Великой Отечественной войны комплекс ГТО продолжал
                развиваться и совершенствоваться, соответствуя новым задачам
                физического воспитания населения.
              </p>
              <p class="about-history__text">
                В 1946 и 1955 годах были введены обновлённые версии комплекса.
              </p>
              <p class="about-history__text">
                В 1959 году в комплекс были добавлены три ступени, а также
                специальные программы для молодёжи призывного возраста.
              </p>
              <p class="about-history__text">
                <b>
                  В 1972 году был принят расширенный комплекс, охватывающий
                  население в возрасте от 10 до 60 лет и состоящий из пяти
                  ступеней.
                </b>
              </p>
            </div>
            <div class="about-history__content">
              <div class="about-history__number">220 млн</div>
              <div class="about-history__sup">
                человек носили знаки отличия к 1976 году
              </div>
            </div>
          </div>

          <h3 class="about-history__descr">
            В начале 1985 года в комплекс «Готов к труду и обороне» внесли
            очередные изменения: для взрослых установили три ступени, а для
            детей – четыре.
          </h3>
        </div>
      </div>

      <div class="about-history__cols">
        <div class="about-history__col">
          <div class="about-history__date">2007 – Н.в.</div>
        </div>
        <div class="about-history__col">
          <div class="about-history__title">
            Возрождение комплекса ГТО в современной России
          </div>

          <p class="about-history__text">
            В 2007 году состоялся ряд ключевых событий для отечественного
            спорта: получение права на проведение Олимпиады-2014, завоевание
            футболистами путевки на Чемпионат Европы, триумф баскетболистов на
            турнире Старого Света, победа в Кубке Федерации и, наконец,
            подписание президентом Владимиром Путиным нового закона о спорте.
          </p>

          <h3 class="about-history__descr">
            После завершения зимних Олимпийских игр в Сочи, организаторам
            удалось сэкономить 1,5 миллиарда рублей, заявил президент Российской
            федерации Владимир Владимирович Путин.
          </h3>

          <div class="about-history__putin">
            <div class="about-history__putin-content">
              <p class="about-history__putin-descr">
                Предлагаю использовать данные средства на развитие массового
                спорта, включая, например, реализацию в субъектах федерации
                комплекса ГТО, мероприятий движения «Спорт для всех» и поддержку
                доступных спортклубов, находящихся в шаговой доступности.
              </p>
              <div class="about-history__putin-name">
                Владимир Владимирович Путин
              </div>
              <div class="about-history__putin-position">
                Президент Российской Федерации
              </div>
            </div>
            <div class="about-history__putin-photo">
              <img
                src="img/pages/about/putin.png"
                alt="В.В Путин"
                class="about-history__putin-img"
              />
            </div>
          </div>

          <div class="about-history__info about-history__info_flex-end">
            <div class="about-history__content">
              <p class="about-history__text">
                Всероссийский физкультурно-спортивный комплекс предусматривает
                подготовку и выполнение нормативов населением России различных
                возрастных групп - от 6 до 70 лет и старше.
              </p>
              <p class="about-history__text">
                Установлены три уровня сложности, соответствующие золотому,
                серебряному и бронзовому знакам отличия.
              </p>
            </div>
            <div class="about-history__content">
              <div class="about-history__medals">
                <div class="about-history__medal-title">
                  Современные знаки ГТО
                </div>
                <div class="about-history__medal-images">
                  <img
                    alt="Медаль"
                    src="img/pages/about/medal-1.png"
                    class="about-history__medal-image"
                  />
                  <img
                    alt="Медаль"
                    src="img/pages/about/medal-2.png"
                    class="about-history__medal-image"
                  />
                  <img
                    alt="Медаль"
                    src="img/pages/about/medal-3.png"
                    class="about-history__medal-image"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="about-history__minister">
            <div class="about-history__minister-photo">
              <img
                src="img/pages/about/minister.png"
                alt="Михаил Дегтярев"
                class="about-history__minister-img"
              />
            </div>
            <div class="about-history__minister-content">
              <p class="about-history__text">
                Программа ГТО играет ключевую роль в формировании здорового
                образа жизни в России. С момента своего внедрения по инициативе
                Президента России Владимира Владимировича Путина она привлекла
                более 23 миллионов участников. При этом более 11 миллионов из
                них полностью выполнили все нормативы ГТО. Особенно важно, что
                среди участников программы высока доля людей с ограниченными
                возможностями, что подчеркивает её инклюзивный характер.
              </p>
              <p class="about-history__text">
                Программа ГТО вдохновляет и объединяет людей, способствуя
                укреплению здоровья нации и повышению уровня физической
                активности в обществе.
              </p>

              <div class="about-history__minister-name">Михаил Дегтярев</div>
              <div class="about-history__minister-position">
                Министр спорта России, Президент Олимпийского комитета России
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
