.media {
  padding: 1rem 0 2.5rem;

  @media screen and (width <=768px) {
    padding-bottom: 0;
  }

  &__breadcrumbs {
    margin-bottom: 5rem;

    @media screen and (width <=768px) {
      margin-bottom: 2.5rem;
    }
  }

  &__title {
    font-size: 3.5rem;
    margin-bottom: 2rem;

    @media screen and (width <=768px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    margin-bottom: 4rem;

    @media screen and (width <=768px) {
      margin-bottom: 1.5rem;
    }
  }

  &__filter {
    padding-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-top: 1px solid rgba(180, 180, 180, 0.2);

    @media screen and (width <=768px) {
      border-top: transparent;
      margin-bottom: 1.5rem;
      padding-top: 0;
      row-gap: 1.5rem;
    }
  }

  &__tabs-head {
    margin-bottom: 1.5rem;
  }

  &__list {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;

    @media screen and (width <=1230px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <=768px) {
      margin-bottom: 1.5rem;
    }

    @media screen and (width <=576px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__list-video {
    margin-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 0.5rem;

    @media screen and (width <=1230px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (width <=768px) {
      margin-bottom: 1.5rem;
    }

    @media screen and (width <=576px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
    }
  }

  &__more-btn {
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (width <=768px) {
      margin-bottom: 0.25rem;
      font-size: 1.125rem;
    }
  }


  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(180, 180, 180, 0.2);
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
    font-family: var(--font-pt);
    padding: 2rem 0;
    margin-bottom: 2.5rem;

    @media (max-width: 480px) {
      gap: 0.5rem;
    }
  }

  &__info-left {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @media screen and (width <=768px) {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__info-date,
  &__info-city,
  &__info-share {
    display: flex;
    align-items: center;
    font-weight: 700;
    gap: 0.25rem;
  }

  &__info-share {
    transition: color 0.3s;

    @media screen and (width <=768px) {
      display: none;
    }

    &:hover {
      color: var(--color-red);
    }
  }

  &__info-share-mobile {
    transition: color 0.3s;
    display: none;
    align-items: center;
    font-weight: 700;
    gap: 0.25rem;
    border-top: 1px solid rgba(180, 180, 180, 0.2);
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
    padding: 1rem 0;
    margin-top: 1rem;
    font-family: var(--font-pt);

    @media screen and (width <=768px) {
      display: flex;
    }

    &:hover {
      color: var(--color-red);
    }
  }

  .news__card {
    background-color: var(--light-color);
    padding: 1rem;
    border-radius: 1rem;
  }

  &__gallery-grid {
    margin-bottom: 1.5rem;
  }

  &__popular-title {
    margin-bottom: 2.5rem;
    margin-top: 6.5rem;

    @media screen and (width <=768px) {
      margin-bottom: 1.5rem;
      margin-top: 4rem;
    }
  }

  &__video {
    margin-bottom: 2rem;

    @media screen and (width <=768px) {
      margin-bottom: 1rem;
    }
  }

  &__text {
    font-family: var(--font-pt);
  }
}
