<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__organization">
        Федеральное государственное автономное учреждение «Федеральная дирекция
        спортмероприятий»
      </div>
      <div class="footer__info">
        <div class="footer__email">
          <div class="footer__descr">E-mail</div>
          <a class="footer__link" href="mailto:gto@fd-sport.ru"
            >gto@fd-sport.ru</a
          >
        </div>
        <div class="footer__phone">
          <div class="footer__descr">Горячая линия</div>
          <a class="footer__link" href="tel:88002222251">8 800 222 22 51</a>
        </div>
      </div>
      <div class="footer__address">
        <div class="footer__descr">Адрес</div>
        <a
          class="footer__address-link"
          href="https://yandex.ru/maps/-/CHXHRVZr"
          target="_blank"
        >
          <div>Москва, ул. Казакова, д. 18 к. 10;</div>
          <div>ул. Волочаевская д. 40г ст. 4</div>
        </a>
      </div>

      <div class="footer__socials footer__socials_mobile">
        <ul class="footer__socials-list">
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://t.me/gto_russia"
              aria-label="Перейти в Телеграм"
              target="_blank"
            >
              <img src="img/shared/header/tg.svg" alt="Логотип ТГ" />
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://vk.com/vfsk_gto"
              aria-label="Перейти в ВК"
              target="_blank"
            >
              <img src="img/shared/header/vk.svg" alt="Логтип ВК" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">© 2025, Готов к труду и обороне</div>
      <div class="footer__socials footer__socials_desctop">
        <ul class="footer__socials-list">
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://t.me/gto_russia"
              aria-label="Перейти в Телеграм"
              target="_blank"
            >
              <img src="img/shared/header/tg.svg" alt="Логотип ТГ" />
            </a>
          </li>
          <li class="footer__socials-item">
            <a
              class="footer__socials-link"
              href="https://vk.com/vfsk_gto"
              aria-label="Перейти в ВК"
              target="_blank"
            >
              <img src="img/shared/header/vk.svg" alt="Логтип ВК" />
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__policy">
        <a class="footer__policy-link" href="#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>

  <a class="footer__back-to-top" href="#">
    <img src="img/icons/back-to-top.svg" width="56" height="56" alt="Иконка" />
  </a>
</footer>
