<header class="header">
  <div class="header__container container">
    <div class="header__top">
      <div class="header__info">
        <div class="header__phone">
          <span class="header__phone-label">Горячая линия</span>
          <a class="header__phone-link" href="tel:88002222251" target="_blank">
            8 800 222 22 51
          </a>
        </div>
        <div class="header__socials">
          <a
            class="header__social"
            href="#"
            aria-label="Перейти в Телеграм"
            target="_blank"
          >
            <img src="img/shared/tg.svg" alt="Логотип ТГ" />
          </a>
          <a
            class="header__social"
            href="#"
            aria-label="Перейти в ВК"
            target="_blank"
          >
            <img src="img/shared/vk.svg" alt="Логтип ВК" />
          </a>
        </div>
      </div>
      <div class="header__pictures">
        <img src="img/shared/victory.svg" alt="Родина мать" />
        <img src="img/shared/logo-gto.svg" alt="Логтип ГТО" />
        <img src="img/shared/emblem.svg" alt="Герб РФ" />
        <img src="img/shared/fds.png" alt="Логотип ФДС" />
      </div>
      <a class="header__profile button button_red" href="#" target="_blank">
        Личный кабинет @include('components/sprite.html', {
        class:"header__menu-icon", width: 32, height: 32, name: "arrow-up" })
      </a>
    </div>
  </div>
  <div class="header__container container">
    <nav class="header__bottom">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">О ГТО</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link_active" href="#"
            >Нормативы</a
          >
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Регионы</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Новости</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Вопрос-Ответ</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Документы</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Медиа</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">Партнеры</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-switch" href="#">
            @include('components/sprite.html', { class:"header__menu-icon",
            width: 32, height: 32, name: "glasses" })
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
