<header class="header header_desktop">
  <div class="header__container container">
    <div class="header__top">
      <div class="header__info">
        <div class="header__phone">
          <span class="header__phone-label">Горячая линия</span>
          <a class="header__phone-link" href="tel:88002222251" target="_blank">
            8 800 222 22 51
          </a>
        </div>
        <div class="header__socials">
          <a
            class="header__social"
            href="https://t.me/gto_russia"
            aria-label="Перейти в Телеграм"
            target="_blank"
          >
            <img src="img/shared/header/tg.svg" alt="Логотип ТГ" />
          </a>
          <a
            class="header__social"
            href="https://vk.com/vfsk_gto"
            aria-label="Перейти в ВК"
            target="_blank"
          >
            <img src="img/shared/header/vk.svg" alt="Логтип ВК" />
          </a>
        </div>
      </div>
      <div class="header__pictures">
        <img src="img/shared/header/victory.svg" alt="Родина мать" />
        <img src="img/shared/header/logo-gto.svg" alt="Логтип ГТО" />
        <img src="img/shared/header/emblem.svg" alt="Герб РФ" />
        <img src="img/shared/header/fds.png" alt="Логотип ФДС" />
      </div>
      <a
        class="header__profile button button_red"
        href="https://auth.gto.gov.ru/auth/realms/MinsportAuthGto/protocol/openid-connect/auth?client_id=MinsportAuthGto-Proxy&state=29b5db7bf616d134dcebec96bede57a2&nonce=529c215c2f28535ea28f2502e4504191&redirect_uri=https%3A%2F%2Fgto.gov.ru%2Fopenid-connect-auth%2Fredirect_uri&scope=openid&response_type=code"
        target="_blank"
      >
        Личный кабинет @include('components/sprite.html', {
        class:"header__menu-icon", width: 32, height: 32, name: "arrow-up" })
      </a>
    </div>
  </div>
  <div class="header__container container">
    <nav class="header__bottom">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a class="header__menu-link" href="#">О ГТО</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link header__menu-link_active" href="#">
            Нормативы
          </a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#regions">Регионы</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#main-news">Новости</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#faq">Вопрос-Ответ</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#documents">Документы</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#media">Медиа</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-link" href="#partners">Партнеры</a>
        </li>
        <li class="header__menu-item">
          <a class="header__menu-switch" href="#">
            @include('components/sprite.html', {
            class:"header__menu-switch-icon", width: 32, height: 32, name:
            "glasses" })
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<header class="header header_mobile">
  <div class="header-mobile">
    <button class="header-mobile__burger">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="header-mobile__logos">
      <div>
        <img src="img/shared/header/emblem-m.svg" alt="Герб РФ" />
      </div>
      <div>
        <img src="img/shared/header/logo-gto-m.svg" alt="Логтип ГТО" />
      </div>
      <div>
        <img src="img/shared/header/fds-m.png" alt="Логотип ФДС" />
      </div>
      <div>
        <img src="img/shared/header/victory-m.png" alt="Родина мать" />
      </div>
    </div>

    <a
      class="header-mobile__profile button button_red"
      href="https://auth.gto.gov.ru/auth/realms/MinsportAuthGto/protocol/openid-connect/auth?client_id=MinsportAuthGto-Proxy&state=29b5db7bf616d134dcebec96bede57a2&nonce=529c215c2f28535ea28f2502e4504191&redirect_uri=https%3A%2F%2Fgto.gov.ru%2Fopenid-connect-auth%2Fredirect_uri&scope=openid&response_type=code"
      target="_blank"
      aria-label="Вход в личный кабинет"
    >
      <img width="18" height="18" src="img/icons/login.svg" alt="Вход" />
    </a>
  </div>

  <div class="header-mobile__menu">
    <ul class="header-mobile__menu-list">
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#">О ГТО</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#">Нормативы</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#regions">Регионы</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#main-news">Новости</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#">Вопрос-Ответ</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#">Документы</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#">Медиа</a>
      </li>
      <li class="header-mobile__menu-item">
        <a class="header-mobile__menu-link" href="#">Партнеры</a>
      </li>
    </ul>

    <div class="header-mobile__footer">
      <div class="header-mobile__footer-cols">
        <div class="header-mobile__footer-col">
          <div class="header-mobile__footer-info">
            <div class="header-mobile__footer-title">Горячая линия</div>
            <a class="header-mobile__footer-link" href="tel:88002222251">
              8 800 222 22 51
            </a>
          </div>
        </div>
        <div class="header-mobile__footer-col">
          <div class="header-mobile__footer-info">
            <div class="header-mobile__footer-title">E-mail</div>
            <a class="header-mobile__footer-link" href="email:gto@fd-sport.ru">
              gto@fd-sport.ru
            </a>
          </div>
        </div>
      </div>
      <div class="header-mobile__footer-under">
        <div class="header-mobile__footer-socials">
          <a
            class="header-mobile__footer-social"
            href="https://t.me/gto_russia"
            aria-label="Перейти в Телеграм"
            target="_blank"
          >
            <img src="img/shared/header/tg.svg" alt="Логотип ТГ" />
          </a>
          <a
            class="header-mobile__footer-social"
            href="https://vk.com/vfsk_gto"
            aria-label="Перейти в Телеграм"
            target="_blank"
          >
            <img src="img/shared/header/vk.svg" alt="Логотип VK" />
          </a>
        </div>
        <a class="header-mobile__footer-switch" href="#">
          @include('components/sprite.html', {
          class:"header-mobile__footer-switch-icon", width: 32, height: 32,
          name: "glasses" })
        </a>
      </div>
    </div>
  </div>
</header>
