.regions {
  padding: 1rem 0 2.5rem;

  @media screen and (width <=768px) {
    padding-bottom: 0;
  }

  &__breadcrumbs {
    margin-bottom: 5rem;

    @media screen and (width <=768px) {
      margin-bottom: 2.5rem;
    }
  }

  &__title {
    font-size: 3.5rem;
    margin-bottom: 2rem;

    @media screen and (width <=768px) {
      font-size: 2rem;
    }
  }

  &__subtitle {
    margin-bottom: 4rem;

    @media screen and (width <=768px) {
      margin-bottom: 1.5rem;
    }
  }

  &__tabs-head {
    margin-bottom: 1.5rem;
  }

  &__more-btn {
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (width <=768px) {
      margin-bottom: 0.25rem;
      font-size: 1.125rem;
    }
  }

  &__breadcrumbs {
    margin-bottom: 5rem;

    @media screen and (width <=768px) {
      margin-bottom: 2.5rem;
    }
  }

  &__map {
    margin-bottom: 15px;

    @media screen and (width <=768px) {
      margin-bottom: 8px;
    }
  }

  &__head-filter {
    margin-bottom: 18px;

    @media screen and (width <=768px) {
      margin-bottom: 16px;

      .head-filter__search {
        flex-direction: column-reverse;
        gap: 4px;
      }
    }
  }

  @media screen and (width <=768px) {

    .head-filter__search-input,
    .head-filter__select-wrapper {
      width: 100%;
      max-width: 100%;
      border-radius: 8px;
      height: 48px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__item {
    padding-bottom: 16px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.2);
    display: flex;
    justify-content: space-between;

    @media screen and (width <=768px) {
      flex-direction: column;
    }
  }

  &__item-left {
    @media screen and (width <=768px) {
      margin-bottom: 14px;
    }
  }

  &__item-link {
    border: 2px solid var(--color-red);
    border-radius: 8px;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    color: var(--color-red);
    transition: all 0.3s;
    align-self: flex-end;

    @media screen and (width <=768px) {
      border: none;
      text-decoration: underline;
      align-self: flex-start;
      padding: 0;
      background-color: transparent;
      font-size: 20px;
    }

    &:hover {
      background-color: var(--color-red);
      color: var(--light-color);

      @media screen and (width <=768px) {
        background-color: transparent;
        color: var(--color-red);
        opacity: 0.7;
      }
    }
  }

  &__item-region {
    display: flex;
    column-gap: 4px;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    color: #8e8d8d;
    font-family: var(--font-pt);
    margin-bottom: 16px;

    @media screen and (width <=768px) {
      font-size: 14px;
      margin-bottom: 14px;
    }
  }

  &__item-adress {
    font-weight: 700;
    font-size: 28px;
    line-height: 1;
    margin-bottom: 4px;

    @media screen and (width <=768px) {
      font-size: 24px;
    }
  }

  &__item-contact {
    display: flex;
    column-gap: 5px;
    font-family: var(--font-pt);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;

    @media screen and (width <=768px) {
      font-size: 14px;
    }
  }

  &__item-contacts-link {
    color: var(--color-red);
    transition: all 0.3s;



    &:hover {
      opacity: 0.7;
    }
  }
}