*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  * {
    scroll-margin: 5.1875rem;
  }
}

body {
  font-family: var(--font-babas);
  line-height: 1;
  &.dis-scroll {
    overflow: hidden;
  }
}
.main {
  background-color: rgba(242, 242, 242, 1);
  padding-bottom: 7.5rem;
  @media (max-width: 480px) {
    padding-bottom: 5rem;
  }
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

input {
  border: none;
}

main {
  flex-grow: 1;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.text {
  // .text_red
  &_red {
    color: var(--color-red);
  }
}
