// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --content-width: 86.25rem;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // fonts
  --font-babas: "BebasNeue", sans-serif;
  --font-pt: "PTSansCaption", sans-serif;
  // colors
  --light-color: #fff;
  --silver-color: #b4b4b4;
  --color-red: #cd313c;
  --color-black: #202020;
  --color-blue: #0073b4;
  --color-green: #3ca037;
}
