// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  --content-width: 73.125rem;
  --container-offset: 1rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}
