.news-detail__top {
  padding-top: 1rem;
}

.news-detail__body {
  margin-top: 5rem;
}
@media (max-width: 480px) {
  .news-detail__body {
    margin-top: 2.5rem;
  }
}
.news-detail__body h1 {
  font-size: 3.5rem;
  margin: 1.5rem 0;
}
@media (max-width: 480px) {
  .news-detail__body h1 {
    font-size: 2rem;
  }
}
.news-detail__body p {
  margin: 0.75rem 0;
  font-size: 1.125rem;
  font-family: var(--font-pt);
  line-height: 1.4;
}
@media (max-width: 480px) {
  .news-detail__body p {
    font-size: 1rem;
  }
}

.news-detail__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
  gap: 2.5rem;
  font-family: var(--font-pt);
}
@media (max-width: 480px) {
  .news-detail__head {
    gap: 0.5rem;
  }
}

.news-detail__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25rem;
}

.news-detail__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.25rem;
}

.news-detail__cover {
  margin: 1.5rem 0;
}
.news-detail__cover img {
  border-radius: 1rem;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 480px) {
  .news-detail__cover img {
    min-height: 11.25rem;
  }
}

.news-detail__content {
  max-width: 63.125rem;
  margin: 0 auto;
  font-family: var(--font-pt);
  line-height: 1.4;
}
.news-detail__content ul li {
  position: relative;
  padding-left: 1.5rem;
}
.news-detail__content ul li::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 100%;
  left: 0.5rem;
  top: 0.5rem;
  background-color: var(--color-black);
}
.news-detail__content ul li + li {
  margin-top: 0.75rem;
}

.news-detail__share {
  display: none;
  padding: 1rem 0;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
  border-bottom: 1px solid rgba(180, 180, 180, 0.2);
  margin-top: 1.5rem;
}
@media (max-width: 480px) {
  .news-detail__share {
    display: block;
  }
}

.news-detail__share-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-pt);
  font-weight: 700;
}

.news-detail__gallery {
  background-color: var(--light-color);
  border-radius: 1rem;
  padding: 2.5rem;
  margin-top: 7.5rem;
}
@media (max-width: 768px) {
  .news-detail__gallery {
    padding: 1rem;
    margin-top: 1.5rem;
  }
}

.news-detail__gallery-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.news-detail__gallery-title {
  font-size: 2.25rem;
  font-weight: 700;
}

.news-detail__gallery-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.news-detail__gallery-button {
  padding: 0.5rem 1rem;
}

.news-detail__gallery-items {
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  margin-top: 1.5rem;
}
@media (max-width: 768px) {
  .news-detail__gallery-items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }
}
.news-detail__gallery-items_active {
  display: -ms-grid;
  display: grid;
}
.news-detail__gallery-items_hide {
  display: none;
}

.news-detail__gallery-more {
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}
@media (max-width: 768px) {
  .news-detail__gallery-more {
    margin-top: 1rem;
  }
}
.news-detail__gallery-more:hover .news-detail__gallery-img {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.news-detail__gallery-img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  max-height: 13.25rem;
}

.news-detail__popular {
  margin-top: 7.5rem;
}

.news-detail__popular-news {
  margin-top: 2.5rem;
}
@media (max-width: 768px) {
  .news-detail__popular-news {
    display: none;
  }
}
.news-detail__popular-news .news__card {
  background-color: var(--light-color);
  padding: 1rem;
  border-radius: 1rem;
}
.news-detail__popular-news .news__card-link {
  padding: 0.5rem 1rem;
}

.news-detail__popular-item {
  padding: 1.5rem 0 2.5rem 0;
  border-top: 1px solid rgba(180, 180, 180, 0.2);
}/*# sourceMappingURL=news-detail.css.map */
